.image-list li
{
list-style-type: none;
display: inline-block;
position: relative;
}
.image-list li img, .image-list video
{
    border:1px solid #ccc;
    height: 170px;
    width: 170px;
    margin:12px;
    position: relative;
}
.custom-img img
{
    height: 175px;
    margin:0px auto !important;
}
input[type=file] {
    display: block;
    height: 35px;
    margin-top: -20px;
    /* width: 329px; */
    left: -8px;
    opacity: 0;
}
.btn-file
{
    padding:0px;
    line-height: 30px; 
}
.delete-img
{
    position: absolute;
    right: 0px;
    background-color: #da5555;
    height: 25px;
    width: 25px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    top: 0px;
    box-shadow: 1px 1px 1px #777;
    z-index: 99;
}
.delete-img:hover{
    cursor: pointer;
    cursor: hand;
}
#mediaPreview{
    text-align: center;
    padding: 0px 10px 20px 0px;
}
input[type=file]
{
    margin-top:-30px;
}
<<<<<<< HEAD
=======
#modal-image .close
{
    opacity: 1;
    width: 25px;
    text-shadow: none;
    height: 25px;
    border-radius: 50px;
    line-height: 13px;
    font-weight: 700;
    background-color: #ffffff;
    color: #000;
    box-shadow: inset 1px 1px 1px #555;
}
.image-list li a:hover{
    cursor: pointer;
    cursor: hand;
}
.modal-image .modal-content
{
    background-color: transparent !important;
}
.modal-image .modal-content:before
{
    z-index: 0 !important;
}
>>>>>>> 84e5dab36edd8210665177158a13de02ffc8a027
@media screen and (max-width: 768px) {
    .image-list
    {
        text-align: center;
    }
    .image-list li img,.image-list li video
    {
    height: 70px;
    width: 70px;
    }
}