<div class="modal fade" id="show-choice" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="icons-office-52"></i>
        </button>
        <h4 class="modal-title">
          <strong>Choice Questionaire</strong> details</h4>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Choice Title</th>
              <td>{{objChoice.title}}</td>
            </tr>
            <tr>
              <th>Choice question</th>
              <td>{{objChoice.question}}</td>
            </tr>
            <tr>
                <th>Choice Date</th>
                <td>{{objChoice.date|date : 'EEEE, MMMM d, y'}}</td>
              </tr>
        
        
            <tr>
              <th>Choice options</th>
              <td><span *ngFor="let option of objChoice.arrOption">{{option.option}} &nbsp;</span></td>
            </tr>
          
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Ok, Got It</button>
      </div>
    </div>
  </div>
</div>