<section>
  <div class="main-content">
      <div class="page-content page-thin">
        <div class="row">
            <div class="header">
                <h2>Club<strong> Event</strong></h2>
              </div>
        </div>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
              <a class="edit btn btn-sm btn-default pull-right" (click)="adEvent()"><i class="glyphicon glyphicon-plus"></i></a>  
          </div>
          
        </div>

        <div class="loading" *ngIf="isSpiner">
            Loading&#8230;
          </div>
        <div class="row">
          <div class="table-responsive">
            <div class="example-container mat-elevation-z8">
               <mat-table #table [dataSource]="dataSource" matSort *ngIf="dataSource && !isSpiner">

                  <ng-container matColumnDef="eventName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Event Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.eventName}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ (element.description.length>70)? (element.description | slice:0:70)+'...':(element.description) }} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ (element.location.length>30)? (element.location | slice:0:30)+'...':(element.location) }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="eventDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.eventDate|date : 'EEEE, MMMM d, y'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="minAgeLimit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Minimun Age Limit </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.minAgeLimit}} </mat-cell>
                  </ng-container> 

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      Action
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row; let i=index;">
                      <a class="edit btn btn-sm btn-blue" (click)="showEvent(row._id)"><i class="fa fa-eye"></i></a> 
                      <a class="edit btn btn-sm btn-default" (click)="editEvent(row._id)"><i class="icon-note"></i></a>  
                      <a class="delete btn btn-sm btn-danger" (click)="deleteEvent(row._id)"><i class="fa fa-trash"></i></a>
                      <a class="edit btn btn-sm btn-bluer" [routerLink]="[arrRoutes.guestlist+'/'+row._id]" >Guest List</a>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                
                </mat-table>

             
                <mat-paginator #paginator
                               [pageSize]="5"
                               [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
        </div>
      </div>
    
    </div>
  </div>
</section>
<app-show-event [objEvent]="objEvent" ></app-show-event>
<app-add-event (childEvent)="getEvents()"></app-add-event>
<app-edit-event [objEvent]="objEvent" (childEvent)="getEvents()"></app-edit-event>