<section>
  <div class="main-content">
    <div class="page-content page-thin">
      <div class="row">
        <div class="header">
          <h2>Club
            <strong> Profile</strong>
          </h2>
          <div class="breadcrumb-wrapper">
            <button *ngIf="showPanel==false" class="btn btn-primary pull-right" (click)="editProfile()">Edit Profile</button>
          </div>
        </div>
      </div>

      <div class="loading" *ngIf="!loaderFlag">
        Loading&#8230;
      </div>
         
      <div class="row" *ngIf="showPanel==false">
        <div class="col-md-12 portlets ui-sortable">
          <div class="panel">
            <div class="panel-content">
              <div class="row">
                <div class="col-sm-6">
                  <label>Name </label>
                  <p> {{profileData.userName}}</p>
                  <!-- <input type="text" name="name" placeholder="{{profileData.userName}}"> -->

                  <label>State</label>
                  <p>{{profileData.state}}</p>

                  <label>City</label>
                  <p>{{profileData.city}}</p>

                </div>
                 <div class="col-sm-6">
                  <label>Email Id</label>
                  <p>{{profileData.email}}</p>
                <label>Contact No</label>
                  <p>{{profileData.contact}}</p>
                  
                  <label>Zip Code</label>
                  <p>{{profileData.zipCode}}</p>

                </div> 
                
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label>About </label>
                  <p>{{profileData.aboutYou}}</p><br>
                  <label>Social Links</label><br>
                  <ul class="list-inline">
                    <li>
                      <a class="btn btn-primary"  target="_blank"> Twtter</a>
                    </li>
                    <li>
                      <a class="btn btn-primary"  target="_blank">Facebook</a>
                    </li>
                    <li>
                      <a class="btn btn-primary"  target="_blank"> Snapchat</a>
                    </li>
                    <li>
                      <a class="btn btn-primary"    target="_blank"> Instagram</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="showPanel==true">
        <div class="col-md-12 portlets ui-sortable">
          <div class="panel">
            <div class="panel-content">
              <form [formGroup]="editProfileForm" (ngSubmit)="editClubUser(profileData)" #eventForm="ngForm">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Name </label>
                    <input formControlName="userName" type="text" [(ngModel)]="profileData.userName" class="form-control" value="{{profileData.userName}}"
                      maxlength="30">
                    <div class="form-error" *ngIf="editProfileForm.get('userName').hasError('required')">
                      * Please enter username
                    </div>
                 
                    <label>State</label>
                    <input formControlName="state" type="text" class="form-control" value="{{profileData.state}}" [(ngModel)]="profileData.state"
                      maxlength="20">
                    <div class="form-error" *ngIf="editProfileForm.get('state').hasError('required')">
                      * Please enter state
                    </div>

                    <label>City</label>
                    <input formControlName="city" type="text" class="form-control" value="{{profileData.city}}" [(ngModel)]="profileData.city"
                      maxlength="20">
                    <div class="form-error" *ngIf="editProfileForm.get('city').hasError('required')">
                      * Please enter city
                    </div>
                
                  </div>
                  <div class="col-sm-6">
                    <label>Email Id</label>
                    <input formControlName="email" type="text" class="form-control" value="{{profileData.email}}" [(ngModel)]="profileData.email"
                      maxlength="35">
                    <div class="form-error" *ngIf="editProfileForm.get('email').hasError('required')">
                      * Please enter email address
                    </div>
                    <div class="form-error" *ngIf="editProfileForm.get('email').hasError('pattern')">
                      * The email address must contain at least the @ character
                    </div>
                    <label>Contact No</label>
                    <input formControlName="contact" name="contact" type="text" [(ngModel)]="profileData.contact" class="form-control" value="{{profileData.contact}}"
                      maxlength="10">
                    <div class="form-error" *ngIf="editProfileForm.get('contact').hasError('required')">
                      * Please enter contact number
                    </div>
                    <div class="form-error" *ngIf="editProfileForm.get('contact').hasError('pattern')">
                      * Contact number contain only numbers
                    </div>

                    
                    <label>Zip Code</label>
                    <input formControlName="zipCode" type="text" class="form-control" value="{{profileData.zipCode}}" [(ngModel)]="profileData.zipCode"
                      maxlength="6">
                    <div class="form-error" *ngIf="editProfileForm.get('zipCode').hasError('pattern')">
                      * Zip code contain only numbers
                    </div>
                    <div class="form-error" *ngIf="editProfileForm.get('zipCode').hasError('required')">
                      * Please enter zip code
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label>About </label>
                    <textarea formControlName="aboutYou" class="form-control" value="profileData.aboutYou" [(ngModel)]="profileData.aboutYou"
                      maxlength="250"></textarea>
                    <!--<label>Music </label>
                      <div class="row">
                      <mat-form-field class="demo-chip-list">
                        <mat-chip-list #chipList>
                          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                    [removable]="removable" (remove)="remove(fruit)">
                            {{fruit.name}}
                            <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close"></i></mat-icon>
                          </mat-chip>
                          <input 
                                  [matChipInputFor]="chipList"
                                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                  [matChipInputAddOnBlur]="addOnBlur"
                                  (matChipInputTokenEnd)="add($event)" />
                        </mat-chip-list>
                      </mat-form-field>
                      </div>
                      <label>Favorite DJ’s </label>
                       <div class="row">
                        <mat-form-field class="demo-chip-list">
                          <mat-chip-list #chipList>
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                      [removable]="removable" (remove)="remove(fruit)">
                              {{fruit.name}}
                              <mat-icon matChipRemove *ngIf="removable"><i class="fa fa-close"></i></mat-icon>
                            </mat-chip>
                            <input 
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)" />
                          </mat-chip-list>
                        </mat-form-field>
                        </div> -->
                    <label>Social Links</label>
                    <div class="row" formGroupName="socialLinks">
                      <div class="col-sm-6">
                        <br>
                        <p>Twitter</p>
                        <input formControlName="twUrl" type="text" class="form-control" placeholder="{{socialUrl.twUrl}}" [(ngModel)]="socialUrl.twUrl"
                          maxlength="150">
                      </div>
                      <div class="col-sm-6">
                        <br>
                        <p>Facebook</p>
                        <input formControlName="fbUrl" type="text" class="form-control" placeholder="{{socialUrl.fbUrl}}" [(ngModel)]="socialUrl.fbUrl"
                          maxlength="150">
                      </div>
                      <div class="col-sm-6">
                        <br>
                        <p>Snapchat</p>
                        <input formControlName="snapUrl" type="text" class="form-control" placeholder="{{socialUrl.snapUrl}}" [(ngModel)]="socialUrl.snapUrl"
                          maxlength="150">
                      </div>
                      <div class="col-sm-6">
                        <br>
                        <p>Instagram</p>
                        <input formControlName="instaUrl" type="text" class="form-control" value="{{socialUrl.instaUrl}}" [(ngModel)]="socialUrl.instaUrl"
                          maxlength="150">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                  <br>
                  <br>
                  <input type="submit" value="Submit" class="btn btn-primary" [disabled]="!editProfileForm.valid">
                  <button class="btn btn-default" (click)="cancelEdit()">Cancel</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>