.usertitle
{
    font-size: 20px;
    margin-top: 0px;
    padding-left: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.user-profile img{
    border-radius: 50px;
}
.useraddr{
    font-size: 16px;
    margin-top: 0px;
    padding-left: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #444;
}
.count-section span
{
    font-weight: 600;
    color: #888;
}
.count-section span i{
    color: #000;
}
.rating-stars{
    padding-left: 0px;
    text-align: right;
}
.reviews .rating-stars{
    padding-left: 0px;
    text-align: left;
}
.rating-stars li{
    display: inline-block;
    list-style-type: none;
    color: #f8e71c;
}
.media-heading{
    padding-left: 15px;
    font-weight: 500;
}
.event-section .media-body p{
    font-size: 16px;
}
.event-section .media-body p i
{
    color:#222;
    margin-right: 5px;
}
.reviews p{
    margin-bottom: 0px;
}
.photo-album{
    padding-left: 0px;
}
.photo-album li{
    display: inline-block;
    list-style-type: none;
}
.photo-album li img, .photo-album li video{
    height: 70px;
    width: 70px;
    border:1px solid #ccc;
    margin: 5px;
}
.panel
{
    border:1px solid #ccc;
}
.promoters h3{
    margin-top: 0px;
}
.promoters .media-body p{
    padding-left: 15px;
}
.tab-content {
    height: 305px;
    overflow-y: scroll;
}
.table th,.table td{
    padding: 5px;
    border:0px;
    font-size: 14px !important;
}
.table th{
    width: 50px;
}
.panel-accordion .panel-default > .panel-heading a {
    border: 1px solid #EDEDED;
    display: block;
    text-decoration: none !important;
    padding: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #f1f1f1;
}
hr {
    margin-top: 15px;
    margin-bottom: 10px;
}