<div class="modal fade" id="showUser" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
        <h4 class="modal-title"><strong>{{objUser.userName}}</strong> 
          <!-- <small>( Certified )</small> -->
        </h4>
      </div>
      <div class="modal-body">
        <div class="user-profile row">
          <div class="col-sm-3 text-center">
            <img src="assets/images/user.png" width="80px" height="80px" *ngIf="objUser.userPic==null">
            <img src="{{objUser.userPic}}" width="80px" height="80px" *ngIf="objUser.userPic!=null">
          </div>
          <div class="col-sm-9 count-section">
            <h2 class="useraddr">{{objUser.city}}, {{objUser.state}}</h2>
            <div class="col-sm-4"><span><i></i><br>Rating</span></div>
            <div class="col-sm-4"><span><i>{{objUser.followerCount}}</i><br>Followers</span></div>
            <div class="col-sm-4"><span><i>{{objUser.followingCount}}</i><br>Following</span></div>
          </div>
        </div>
        <div class="user-info row">         
          <div class="row">
            <hr>
              <div class="panel-group panel-accordion" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4>
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            About user
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>{{objUser.aboutYou}}</p>
                          <div  *ngIf="objUser.interests!=null">
                          <div *ngFor="let interest of objUser.interests">
                            <p *ngIf="interest.choiceQid!=null"><b>{{interest.choiceQid.title}} :</b> <span *ngFor="let opt of interest.selectedOptionIds">{{opt.option}}, </span></p>
                          </div>
                        </div>
                          <!-- <p><b>Maximal number of peoples:</b> 212 peoples</p> -->
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                              Wroking time:
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><th>Mon</th><td>Closed</td></tr>
                                <tr><th>Tue</th><td>8:00 pm - 1:30 am</td></tr>
                                <tr><th>Wed</th><td>Closed</td></tr>
                                <tr><th>Thu</th><td>5:00 pm - 2:00 am</td></tr>
                                <tr><th>Fri</th><td>8:00 pm - 1:30 am</td></tr>
                                <tr><th>Sat</th><td>Closed</td></tr>
                                <tr><th>Sun</th><td>5:00 pm - 2:00 am</td></tr>
                              </table>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
     
        </div>
        <div class="row">
            <div class="panel">
              <div class="panel-content">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1_1" data-toggle="tab">Events</a></li>
                  <!-- <li class=""><a href="#tab1_2" data-toggle="tab">Promoters</a></li> -->
                  <li><a href="#tab1_3" data-toggle="tab">Ratings</a></li>
                  <li><a href="#tab1_4" data-toggle="tab">Image album</a></li>
                  <li><a href="#tab1_5" data-toggle="tab">Video album</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade active in event-section" id="tab1_1">
                    <div class="row">
                      <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="http://pixelone.co.th/article/wp-content/uploads/2015/01/PH31.jpg" width="60px" height="60px">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Party Bar Event</h4>
                            <div class="col-sm-8">
                                <p>
                                    <small><i class="glyphicon glyphicon-map-marker"></i> Long Beach</small>  
                                    <small>&nbsp;&nbsp;<i class="fa fa-calendar"></i> 12/12/2017</small>
                                    <small>&nbsp;&nbsp;<i class="fa fa-birthday-cake"></i>   18-45</small>
                                  </p>
                            </div>
                            <div class="col-sm-4">
                              <ul class="rating-stars">
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall….</p>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object" src="http://pixelone.co.th/article/wp-content/uploads/2015/01/PH31.jpg" width="60px" height="60px">
                                </a>
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Party Bar Event</h4>
                                <div class="col-sm-8">
                                    <p>
                                        <small><i class="glyphicon glyphicon-map-marker"></i> Long Beach</small>  
                                        <small>&nbsp;&nbsp;<i class="fa fa-calendar"></i> 12/12/2017</small>
                                        <small>&nbsp;&nbsp;<i class="fa fa-birthday-cake"></i>   18-45</small>
                                      </p>
                                </div>
                                <div class="col-sm-4">
                                  <ul class="rating-stars">
                                    <li><span class="fa fa-star"></span></li>
                                    <li><span class="fa fa-star"></span></li>
                                    <li><span class="fa fa-star"></span></li>
                                    <li><span class="fa fa-star"></span></li>
                                    <li><span class="fa fa-star"></span></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall….</p>
                          </div>

                  </div>
                  <div class="tab-pane fade promoters" id="tab1_2">
                    <h3>Top 3 promoters</h3>
                    <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="https://www.joominamarket.com/templates/joominamarkettemp/images/user.png" width="40px" height="40px">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Hilliard Kirshner</h4>
                          <p><small>Barcelona, Limburg</small></p>
                        </div>
                      </div>

                      <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="https://www.joominamarket.com/templates/joominamarkettemp/images/user.png" width="40px" height="40px">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Hilliard Kirshner</h4>
                            <p><small>Barcelona, Limburg</small></p>
                          </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object" src="https://www.joominamarket.com/templates/joominamarkettemp/images/user.png" width="40px" height="40px">
                              </a>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Hilliard Kirshner</h4>
                              <p><small>Barcelona, Limburg</small></p>
                            </div>
                          </div>

                   
                   
                  </div>
                  <div class="tab-pane fade reviews" id="tab1_3">
                      <div class="row">
                        <div class="media" *ngFor="let rate of objUser.ratings">
                            <!-- <div class="media-left">
                              <a href="#">
                                <img class="media-object" src="https://cdn.pixabay.com/photo/2014/10/21/21/06/concert-497182_960_720.jpg" width="60px" height="60px">
                              </a>
                            </div> -->
                            <div class="media-body">
                              <h4 class="media-heading">{{rate.userId.userName}}</h4>                               
                              <div class="col-sm-6">
                                  <ul class="rating-stars text-left">
                                    <li *ngIf="rate.rating>=1"><span class="fa fa-star"></span></li>
                                    <li *ngIf="rate.rating>=2"><span class="fa fa-star"></span></li>
                                    <li *ngIf="rate.rating>=3"><span class="fa fa-star"></span></li>
                                    <li *ngIf="rate.rating>=4"><span class="fa fa-star"></span></li>
                                    <li *ngIf="rate.rating>=5"><span class="fa fa-star"></span></li>

                                    <li *ngIf="rate.rating<1"><span class="fa fa-star-o"></span></li>
                                    <li *ngIf="rate.rating<2"><span class="fa fa-star-o"></span></li>
                                    <li *ngIf="rate.rating<3"><span class="fa fa-star-o"></span></li>
                                    <li *ngIf="rate.rating<4"><span class="fa fa-star-o"></span></li>
                                    <li *ngIf="rate.rating<5"><span class="fa fa-star-o"></span></li>
                                  </ul>
                              </div>            
                              <div class="col-sm-6">
                                  <p class="text-right"><small>Rated on {{rate.ratingDate| date:'MMMM d, y'}}</small></p>
                              </div> 
                            </div>
                          </div>
                          <hr>
                          <!-- <p>The Best Night Club in my life!!!!</p>
                          <p><small>Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my cheerful duty to attend upon him while taking that hard-scrabble scramble upon the dead whale's back. You have seen Italian organ-boys holding a dancing-ape by a long cord. </small></p>
                          <p><small>Posted 1H ago</small></p> -->
                        </div>
                       
                        <!-- <div class="row">
                            <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="https://cdn.pixabay.com/photo/2014/10/21/21/06/concert-497182_960_720.jpg" width="60px" height="60px">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">Party Bar Event</h4>   
                                  <div class="col-sm-6">
                                      <ul class="rating-stars text-left">
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                        <li><span class="fa fa-star"></span></li>
                                      </ul>
                                  </div>            
                                  <div class="col-sm-6">
                                      <p class="text-right"><small>Posted 1H ago</small></p>
                                  </div>   
                                </div>
                              </div>
                              <p>The Best Night Club in my life!!!!</p>
                              <p><small>Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my cheerful duty to attend upon him while taking that hard-scrabble scramble upon the dead whale's back. You have seen Italian organ-boys holding a dancing-ape by a long cord. </small></p>
                             
                            </div> -->
                  </div>
                  <div class="tab-pane fade reviews" id="tab1_4">
                    <ul class="photo-album">
                      <li *ngFor="let mediaDetail of objUser.medias">
                        <img src="{{mediaDetail.media}}"  *ngIf="mediaDetail.fileType==1">
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade reviews" id="tab1_5">
                    <ul class="photo-album">                    
                      <li *ngFor="let mediaDetail of objUser.medias">
                        <video width="70" height="70"  *ngIf="mediaDetail.fileType==2">
                          <source src="{{mediaDetail.media}}" type="video/mp4">
                      </video>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Ok, Got it!</button>
      </div>
    </div>
  </div>
</div>