<section>
  <div class="main-content">
      <div class="page-content page-thin">
        <div class="row">
            <div class="header">
                <h2>Total<strong> Users</strong></h2>
                <div class="breadcrumb-wrapper">
                  <ol class="breadcrumb">
                    <li><a [routerLink]="['/dashboard']">Home</a>
                    </li>
                    <li class="active">Total users</li>
                  </ol>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
              <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#inviteuser"><i class="fa fa-envelope"></i> &nbsp; Invite user</a>  
              <br>
          </div>
          
        </div>


        
        <div class="row">
          <div class="table-responsive">
            <div class="example-container mat-elevation-z8" >
                <mat-spinner *ngIf="!showLoader"></mat-spinner>        
                <mat-table *ngIf="showLoader" #table [dataSource]="dataSource" matSort>
              
                  <!-- <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container> -->
              
                  <ng-container matColumnDef="userName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="userType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                    <mat-cell *matCellDef="let element" > 
                     
                      <span *ngIf="element.userType == '1'">Member</span> 
                      <span *ngIf="element.userType == '2'">Club</span> 
                      <span *ngIf="element.userType == '3'">Promoter</span> 
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="contact">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Contact </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.contact}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="feedback">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Feedback </mat-header-cell>
                      <mat-cell *matCellDef="let element"> <span *ngIf="element.feedback.length > 0">{{element.feedback[0].feedback}}</span> </mat-cell>
                    </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      Action
                    </mat-header-cell>

                    <mat-cell *matCellDef="let element; let i=index;">
                      <a class="edit btn btn-sm btn-blue" (click)="showUser(element._id)"><i class="fa fa-eye"></i></a>
                      <a class="delete btn btn-sm btn-danger"><i class="icons-office-52"></i></a>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
                <mat-paginator #paginator
                               [pageSize]="5"
                               [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
        </div>
      </div>

      

    </div>
  </div>
</section>
<app-show-user [objUser]="objUser" ></app-show-user>
<!-- <app-invite-user></app-invite-user> -->

<div class="loader-section" *ngIf="!showLoader">
  <mat-spinner color="white"></mat-spinner>        
</div>
<div class="loader-section" *ngIf="showError">
  <div class="error-msg">Oops! Something went wrong ...</div>       
</div>