<section>
  <div class="main-content">
      <div class="page-content page-thin">
          <div class="row">
              <div class="header">
                  <h2>Invite<strong> Promoter</strong></h2>
                </div>
          </div>
    <div class="page-content page-builder mat-elevation-z8">
      <form class="col-sm-8 col-sm-push-2" [formGroup]="promotorForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label>
            <span class="form-error">*</span> Email address</label>
          <input type="email" class="form-control" placeholder="Enter email address" formControlName="email" maxlength="50">
          <div *ngIf="promotorForm.get('email').touched">
            <div class="form-error" *ngIf="promotorForm.get('email').hasError('required')">
              * Please enter email address
            </div>
            <div class="form-error" *ngIf="promotorForm.get('email').hasError('pattern')">
              * The email address must contain at least the @ character
            </div>
          </div>
        </div>
        <div class="form-group row" style="margin-top: 20px !important">
          <label>
            <span class="form-error">*</span> Message</label>
          <textarea class="form-control" name="message" placeholder="Enter message" formControlName="message" maxlength="100" ></textarea>
          <div *ngIf="promotorForm.get('message').touched">
            <div class="form-error" *ngIf="promotorForm.get('message').hasError('required')">
              * Please enter message
            </div>
          </div>
        </div>


        <div class="row text-center">
          <br>
          <input class="btn btn-blue" type="submit" value="Invite Now !" [disabled]="!promotorForm.valid">
        </div>
        <br>
      </form>
    </div>
  </div>
  </div>
</section>