<section>
  <div class="main-content">
      <div class="page-content page-thin">
        <div class="row">
            <div class="header">
                <h2><strong> Choices Questionaire</strong></h2>
                <!-- <div class="breadcrumb-wrapper">
                  <ol class="breadcrumb">
                    <li><a [routerLink]="['/dashboard']">Home</a>
                    </li>
                    <li class="active">Club Event</li>
                  </ol>
                </div> -->
              </div>
        </div>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
              <a class="edit btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#add-choice"><i class="glyphicon glyphicon-plus"></i></a>  
          </div>
          
        </div>
        <div class="row">
          <div class="table-responsive">
            <div class="example-container mat-elevation-z8">
                
                <mat-table #table [dataSource]="dataSource" matSort>
              
                  <!-- <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container> -->
              
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Choice Title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Choice Question </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.question}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date| date:'MMMM d, y'}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      Action
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row; let i=index;">
                      <a class="edit btn btn-sm btn-blue" (click)="showChoice(row._id)"><i class="fa fa-eye"></i></a> 
                      <a class="edit btn btn-sm btn-default" (click)="editChoice(row._id)"><i class="icon-note"></i></a>  
                      <a class="delete btn btn-sm btn-danger" (click)="deleteChoice(row._id)"><i class="icons-office-52"></i></a>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
                <mat-paginator #paginator
                               [pageSize]="5"
                               [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-add-choice (childEvent)="getChoices()" ></app-add-choice> 
 <app-show-choice [objChoice]="objChoice" ></app-show-choice>
<app-edit-choice [objChoice]="objChoice" (childEvent)="getChoices()"></app-edit-choice> 