<section>
    <div class="main-content">
        <div class="page-content page-thin">
            <div class="row">
                <div class="header">
                    <h2>Account <strong>Setting</strong></h2>
                    <div class="breadcrumb-wrapper">
                      <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']">Home</a>
                        </li>
                        <li>Profile Management</li>
                        <li class="active">Account Setting</li>
                      </ol>
                    </div> 
                  </div>
            </div>
            <div class="row">
                <form>
                    <div class="col-sm-6 col-sm-push-3">
                    <div class="form-group">
                        <label class="control-label">Enter Email Id</label>
                        <input type="email" class="form-control" placeholder="Enter Email address"><br>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Password</label>
                        <input type="password" class="form-control" placeholder="Enter password"><br>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Confirm-Password</label>
                        <input type="password" class="form-control" placeholder="Enter confirm password"><br>
                    </div>
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Reset</button>
                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>              