.demo-chip-list {
    width: 100%;
  }
  agm-map {
    height: 300px;
  }
  .mat-form-field
  {
    width: 100% !important;
    padding: 0px !important;
  }
  input.mat-chip-input
  {
    margin: 0px !important;
  }
  .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
    margin: 5px 0 0 8px !important;
}
.custom-lbl
{
  background-color: #e8e8e8;
    padding: 3px 8px 5px 8px;
    margin: 10px 5px 0px 0px;
    line-height: 36px;
    border: 1px solid #c7c7c7;
    font-size: 14px;
}
.custom-dropdown
{
  position: absolute;
  height: 80px;
  overflow-y: scroll;
  width: 100%;
  background-color: #dedede;
  padding-bottom: 0px !important;
}
.custom-dropdown li
{
  margin: 3px;
  padding: 2px;
  border-bottom: 1px solid #ccc;
}
.custom-dropdown li:last-child
{
  border-bottom: 0px !important;
}
.modal
{
  overflow: scroll !important;
}
.material-icons
{
  line-height: 0 !important;
}