<div class="modal fade" id="add-event" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="icons-office-52"></i>
        </button>
        <h4 class="modal-title">
          <strong><u>Add Event</u> </strong></h4>
          <div style="width: 100%; text-align: center; font-weight: bold; ">
              <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
          </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <form (ngSubmit)="submitForm(model,eventForm.form.valid)" #eventForm="ngForm" enctype="multipart/form-data">
            <table class="table">
              <tr>
                <th>Event Name <span style="color:red">*</span></th>
                <td colspan="2">
                  <input required minlength="3" type="text" name="eventName" id="eventName" [(ngModel)]="model.eventName" #eventName="ngModel" class="form-control" placeholder="Enter event name">
                  <div [hidden]="eventName.valid || eventName.pristine" class="form-error">
                    <div [hidden]="!eventName.hasError('required')">Event Name is required</div>
                    <div [hidden]="!eventName.hasError('minlength')">Required atleast 3 charactor</div>
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Event Type <span style="color:red">*</span>
                </th>
                <td colspan="2">
                  <select name="eventType" class="form-control"  id="eventType" [(ngModel)]="model.eventType" #eventType="ngModel" required>
                    <option>Select</option>
                    <option value="1">Party</option>
                    <option value="2">Concert</option>
                    <option value="3">Shows</option>
                  </select>
                  <div [hidden]="eventType.valid || eventType.pristine" class="form-error">
                    <div [hidden]="!eventType.hasError('required')">Event eventType is required</div>
 
        
                  </div>
                </td>
              </tr>
              <tr>
                  <th>
                    Select Club <span style="color:red">*</span>
                  </th>
                  <td colspan="2">
                    <select name="clubId" class="form-control"  id="clubId" [(ngModel)]="model.clubId" #eventType="ngModel" required>
                      <option>Select</option>
                      <option *ngFor="let club of arrClubs" [ngValue]="club._id" >{{club.userName}}</option>
                      
                    </select>
                    <div [hidden]="eventType.valid || eventType.pristine" class="form-error">
                      <div [hidden]="!eventType.hasError('required')">Event eventType is required</div>
   
          
                    </div>
                  </td>
                </tr>
              <tr>
                <th>Event Description <span style="color:red">*</span></th>
                <td colspan="2">
                  <textarea required minlength="3" name="description" id="description" [(ngModel)]="model.description" #description="ngModel"  class="form-control" placeholder="Enter Description"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="form-error">
                    <div [hidden]="!description.hasError('required')">Event description is required</div>
                    <div [hidden]="!description.hasError('minlength')">Required atleast 3 charactor</div>
        
                  </div>
                </td>
              </tr>

              <tr>
                <th>Event Minimum Age <span style="color:red">*</span></th>
                <td>
                  <input type="number"  (change)="changeAge($event.target.value,'1')" required name="minAgeLimit" id="minAgeLimit" [(ngModel)]="model.minAgeLimit" #minAgeLimit="ngModel" class="form-control" placeholder="Enter Minimum age">
                  <div [hidden]="minAgeLimit.valid || minAgeLimit.pristine" class="form-error">
                    <div [hidden]="!minAgeLimit.hasError('required')"> Event Minimum Age is required</div>
                   
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Event Maximum Age <span style="color:red">*</span></th>
                <td>
                  <input type="number" (change)="changeAge($event.target.value,'0')" required name="maxAgeLimit" id="maxAgeLimit" [(ngModel)]="model.maxAgeLimit" #maxAgeLimit="ngModel"  class="form-control" placeholder="Enter Maximum age">
                  <div [hidden]="maxAgeLimit.valid || maxAgeLimit.pristine" class="form-error">
                    <div [hidden]="!maxAgeLimit.hasError('required')"> Event Maximum Age is required</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Event Event Location</th>
                <td colspan="2">
                  <input required name="location" #location class="form-control" placeholder="Enter event location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text">
                </td>
              </tr>
              <tr>
                <th>Event Services</th>
                <td colspan="2">
                  <mat-form-field class="demo-chip-list">
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let service of services" [selectable]="selectable" [removable]="removable" (remove)="remove(service)">
                        {{service.name}}
                        <mat-icon matChipRemove *ngIf="removable">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-chip>
                      <input placeholder="Services"  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-list>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <th>Event Media </th>
                <td colspan="2">
                  <input  type="file" name="eventMedia[]" id="eventMedia" multiple class="form-control" placeholder="Enter event name">
                 
                </td>
              </tr>
              
              <tr>
                <th>Event Date <span style="color:red">*</span></th>
                <td colspan="2">
                  <mat-form-field style="width:100% !important;padding: 10px 0px;">
                    <input required name="eventDate" id="eventDate" [(ngModel)]="model.eventDate" #eventDate="ngModel" matInput [matDatepicker]="picker" placeholder="Choose a date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                  <div [hidden]="eventDate.valid || eventDate.pristine" class="form-error">
                    <div [hidden]="!eventDate.hasError('required')">Event Date is required</div>
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Event Interest</th>
                <td>
                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Select Interest" matInput [formControl]="interesettxt" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption()">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  
                </td>
                <td *ngIf="( filteredOptions | async)?.length==0">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#custominterest"><i class="glyphicon glyphicon-plus"></i></a>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="word-break:break-all !important;">
                  <label *ngIf="interests.length>0">Selected interest are :</label><br>
                  <span class="custom-lbl" *ngFor="let intr of interests">{{intr}}</span>
                </td>
              </tr>
            </table>
            <div class="row text-right">
              <button type="submit" class="btn btn-primary btn-embossed" [disabled]="!eventForm.valid">Submit</button>
              <button type="reset" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="custominterest" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addInterestForm" (ngSubmit)="onSubmit()">
        <label>Your new interest is : <b>{{interesettxt.value}}</b></label>       
        <div class="form-group">
        <select class="form-control" [formControl]="quetion">
          <option>Select Quetion</option>
          <option *ngFor="let Qlist of questionList">{{Qlist}}</option>
        </select>
        </div>
        <div class="row text-center">
            <input type="submit" class="btn btn-primary" value="Add">
            <button type="reset" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>      
    </div>
  </div>
</div>