<section>
    <div class="main-content">
      <div class="page-content page-thin">
        <div class="row">
          <div class="header">
            <h2>
              <strong>Approve Guest List</strong>
            </h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li>
                  <a [routerLink]="[arrRoutes.dashboard]">Home</a>
                </li>
                <li class=" active ">Guest List</li>
              </ol>
            </div>
          </div>
        </div>
  
        <div class="row panel ">
          <form #guestForm="ngForm">
            <div class="col-md-6">
              <h2>Event Guest List</h2>
              <div style="height: 500px; overflow: scroll;border-style: ridge;">
                <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Select All user
                      <span class="badge badge-default badge-pill">
                          <input type="checkbox" (change)="selectAll($event)" name="selectAll">
                        </span>
                  </li>
                  <li class="list-group-item justify-content-between" *ngFor="let user of arrUser">
                      {{user.userName}}
                    <span class="badge badge-default badge-pill">
                      <input type="checkbox" [(ngModel)]="user.isSelect" name="isSelect">
                    </span>
                  </li>
  
                </ul>
  
              </div>
            </div>
            <!-- <div class="col-md-2 text-center " style="height: 500px;">
              <button class="btn btn-primary vertical-center-row" (click)="selectUsers()" >Select Users</button>
            </div>
            <div class="col-md-5">
                <h2>Selected List</h2>
                <div style="height: 500px; overflow: scroll;border-style: ridge;">
                    <ul class="list-group">
                      <li class="list-group-item justify-content-between" *ngFor="let user of selectedUser" >
                        {{user.userName}}
                       
                      </li>
        
                    </ul>
        
                  </div>
            </div> -->
  
            <div class="col-md-12 text-center" style="margin-top: 20px;">
              <button class="btn btn-primary" (click)="approveGuest()">Approve Guest List</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>