.account,.account2
{
    height:100% !important;
    /* background: linear-gradient(to right, rgba(127,146,240,1) 0%,rgba(109,127,216,1) 40%,rgba(81,92,220,1) 100%) !important; */
    background: url('../../assets/images/bg1.jpg') no-repeat;
    background-size: cover;
}
.account2 .account-info {
    background: #7a26bf;
}
.error_msg{
    color:#a80000;
}
.userType{
    height: 33px;
}
input[type=password]
{
    margin-bottom: 8px;
}
/* .account2 .user-img
{
    margin-top: 0px;
} */
.account2 .account-form {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.41);
    padding: 50px;
}
.logo{
    margin-top: 50px;
    margin-bottom: 50px;
}
.account2 .form-signin h3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;
    color: #fff;
}
.append-icon{
    margin-bottom: 15px;
}
.form-control{
    font-size: 16px;
}
.btn-dark {
    background-color: #c50887;
    color: #fff;
    font-size: 17px !important;
    padding: 9px 48px !important;
}
.account2 .account-form a {
    color: #ffffff;
    font-size: 17px;
}
.account2 .account-form a:hover{
    cursor: pointer;
    cursor: hand;
    color: #ff6ace;
}
.error_msg {
    color: #ff5050 !important;
    font-size: 17px !important;
    line-height: 36px !important;
}
.append-icon i {
    color: rgb(198, 8, 135) !important;
    font-size: 17px !important;
}