<div class="account2" id="login-block" data-page="login">
    <div class="container">
        <!-- <i class="user-img icons-faces-users-03"></i> -->
        <img src="assets/images/logo.png" height="160px" class="center-block logo">
        <!-- <div class="account-info">
            <h3>Welcome To
                <b>SELECT SOCIECTY</b>
            </h3>
            <ul>
                <li>
                    <i class="icon-users"></i> Meet New People</li>
                <li>
                    <i class="fa fa-search"></i> Search for Locals</li>
                <li>
                    <i class="fa fa-check-square-o"></i> Companion Accepted</li>
                <li>
                    <i class="fa fa-thumbs-up"></i> Meetup</li>
            </ul>
        </div> -->

        <div class="account-form col-sm-6">

            <form class="form-signin" role="form" (ngSubmit)="submitForm(model,loginForm.form.valid)" #loginForm="ngForm">
                <h3>
                    <strong style="color: #f927b4;">Sign in</strong> to your account</h3>
                <div class="append-icon">
                    <input type="email" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" class="form-control form-white email"
                        placeholder="email" minlength="3" required>
                    <i class="icon-user"></i>
                    <div [hidden]="email.valid || email.pristine" class="error_msg">
                        <div [hidden]="!email.hasError('required')">Email is required</div>
                        <div [hidden]="!email.hasError('minlength')">Required atleast 3 charactor</div>

                    </div>
                </div>
                <div class="append-icon">
                    <input type="password" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" class="form-control form-white password"
                        placeholder="Password" minlength="6" required>
                    <i class="icon-lock"></i>
                    <div [hidden]="password.valid || password.pristine" class="error_msg">
                        <div [hidden]="!password.hasError('required')">Password is required</div>
                        <div [hidden]="!password.hasError('minlength')">Required atleast 6 charactor</div>
                    </div>
                </div>
                <div class="append-icon m-b-20">
                    <select name="userType" id="userType" style="height: 40px;" [(ngModel)]="model.userType" #userType="ngModel" class="form-control form-white userType"
                         required>
                        <option value="" selected>Select User Type</option>
                        <option value="4">Super Admin</option>
                        <option value="2">Venue</option>
                        <option value="3">Promoter</option>
                        
                    </select>


                    <!-- <i class="icon-user"></i> -->
                    <div [hidden]="userType.valid || userType.pristine" class="error_msg">
                    <div [hidden]="!userType.hasError('required')">userType is required</div>
                        
                    </div>
                </div>

                <button type="submit" [disabled]="loginForm.form.valid!=true" class="btn btn-lg btn-dark btn-rounded ladda-button">Sign In</button>
                <span class="forgot-password">
                    <a id="password" data-toggle="modal" data-target="#modal-forgot-password">Forgot password?</a>
                </span>
            </form>
            <div style="width: 100%; text-align: center; font-weight: bold; ">
                <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-forgot-password" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="icons-office-52"></i>
                </button>
                <h4 class="modal-title">
                    <strong>Forgot password</strong>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">If you have forgotten your password you can reset it here.</label>
                            <input type="email" class="form-control" placeholder="Enter Email address">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Send My Password</button>
            </div>
        </div>
    </div>
</div>