<section>
  <div class="main-content">
    <div class="page-content page-thin">
      <div class="row">
        <div class="header">
          <h2>
            <strong>Mailbox</strong>
          </h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li>
                <a [routerLink]="['/dashboard']">Home</a>
              </li>
              <li>Mailbox</li>
              <li class="active">Inbox</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-app mailbox">
          <section class="app">
            <aside class="aside-md emails-list">
              <section>
                <div class="mailbox-page clearfix">
                  <h1 class="pull-left">Inbox</h1>
                </div>
                <!-- <ul class="nav nav-tabs text-right">

                  <li class="active f-right">
                    <a href="#recent" data-toggle="tab">Recent</a>
                  </li>
                  <li class="f-right">
                    <a href="#alphabetically" data-toggle="tab">All</a>
                  </li>
                </ul> -->
                <div class="tab-content">
                  <div style="width: 100%; text-align: center; font-weight: bold; ">
                    <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
                  </div>
                  
                  <div class="tab-pane fade in active" id="recent">
                    <div class="messages-list withScroll show-scroll" data-padding="180" data-height="window">

                      <!-- <div []> -->
                      <div [ngStyle]=" {'background':clubApplication._id==apps._id ? '#E4E4E4':'#fff'}" class="message-item media" *ngFor="let apps of arrClubApps">
                        <div class="media" (click)="showApplication(apps)">
                          <div class="media-body">
                            <div class="sender">{{apps.name}}</div>
                            <div class="subject">
                              <span class="subject-text">Club Application</span>
                            </div>
                            <div class="date"> 
                              <strong>{{apps.date|date: 'MMM d '}}</strong>
                            </div>
                            <div class="email-content">
                              <p>Hi Stevedd,</p>
                              <p>Visual hierarchy is one of the most important principles behind effective web design. This
                                article will examine why developing a visual hierarchy is crucial on the web, the theory
                                behind it, and how you can use some very basic exercises in your own designs to put these
                                principles into practice.</p>
                              <blockquote class="blue">
                                <p>
                                  <strong>Design is a funny word. Some people think design means how it looks. But of course, if
                                    you dig deeper, it's really how it works.</strong>
                                </p>
                              </blockquote>
                              <p>At it's core, design is all about visual communication: To be an effective designer, you have
                                to be able to clearly communicate your ideas to viewers or else lose their attention.</p>
                              <div class="email-attachment clearfix">
                                <div class="attachments">
                                  <span>
                                    <i class="fa fa-file-image-o"></i> Home.jpg
                                    <span class="small">(10mb)</span>
                                  </span>
                                  <span>
                                    <i class="fa fa-file-pdf-o"></i> Resume.pdf
                                    <span class="small">(5.2mb)</span>
                                  </span>
                                </div>
                                <div class="attachments-actions">
                                  <div class="move-attachments">
                                    <i class=" icon-rounded-arrow-left-thin"></i>
                                    <i class=" icon-rounded-arrow-right-thin"></i>
                                  </div>
                                  <div class="download-attachment">
                                    <i class="icon-rounded-download"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- </div> -->
                    </div>
                    <div class="row">
                      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                      </mat-paginator>
                    </div>
                  </div>

                </div>
              </section>
            </aside>
            <div class="email-details">
              <section *ngIf="clubApplication!=''">
                <div class="email-subject">
                  <!-- <h1>Theory of <strong>Design</strong></h1> -->
                  <div class="clearfix">
                    <div class="go-back-list">
                      <i data-rel="tooltip" data-placement="bottom" data-original-title="Back to email list" class="icon-arrow-left"></i>
                    </div>
                    <p>from
                      <strong>
                        <span class="sender">{{clubApplication.name}}</span>
                      </strong> &bull;
                      <span class="date">{{clubApplication.date | date: 'yyyy-MM-dd'}}</span>
                    </p>
                    <div class="pos-rel pull-left">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                        <i class=" icon-rounded-arrow-down-thin"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#" class="reorder-menu">Delete email</a>
                        </li>
                        <!-- <li><a href="#" class="remove-menu">Move</a></li>
                  <li><a href="#" class="hide-top-sidebar">Print</a></li> -->
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="email-details-inner withScroll" data-height="window" data-padding="155">
                  <div class="email-content">
                    <p>Hi Club,</p>
                    <p>Filled Questionaire</p>
                    <p *ngFor="let val of clubApplication.queSubmission"> Que. {{val.key}}. Ans. {{val.value}}</p>

                  </div>
                  <!-- <div class="answers">
                    <div class="answer-subject">
                      <h2 class="answer-title"></h2>
                      <p>from
                        <strong>me</strong> &bull;
                        <span class="answer-date"></span>
                      </p>
                    </div>
                    <div class="answer-content"></div>
                  </div> -->
                  <div class="write-answer">
                    <form>
                      <!-- <textarea class="form-control" rows="10" placeholder="Enter reply here"></textarea> -->

                      <button id="Accept" *ngIf="clubApplication.status == '1'" class="btn btn-primary" (click)="acceptApplication('2',clubApplication)" type="button">Accept</button>
                      <button id="Reject" *ngIf="clubApplication.status == '1'" class="btn btn-primary" (click)="acceptApplication('3',clubApplication)" type="button">Reject</button>
                      <button id="acceted" *ngIf="clubApplication.status == '2'" class="btn btn-primary" [disabled]="true" type="button">Acceted</button>
                      <button id="rejected" *ngIf="clubApplication.status == '3'" class="btn btn-primary" [disabled]="true" type="button">Rejected</button>

                    </form>
                  </div>
                </div>
              </section>
            </div>
          </section>
          <div class="footer">
            <div class="copyright">
              <p class="pull-left sm-pull-reset">
                <span>Copyright
                  <span class="copyright">©</span> 2015 </span>
                <span>THEMES LAB</span>.
                <span>All rights reserved. </span>
              </p>
              <p class="pull-right sm-pull-reset">
                <span>
                  <a href="#" class="m-r-10">Support</a> |
                  <a href="#" class="m-l-10 m-r-10">Terms of use</a> |
                  <a href="#" class="m-l-10">Privacy Policy</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
    </div>
  </div>
</section>