<div class="modal fade" id="inviteuser" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
        <h4 class="modal-title"><strong>Invite</strong> new users</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="inviteForm" >
          <div class="form-group">
            <label>To</label>
            <input class="form-control" placeholder="Enter mail address" formControlName="toaddr">
          </div>
          <div class="form-group">
            <label>Subject</label>
            <input class="form-control" placeholder="Enter subject" formControlName="subject">
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" placeholder="Enter message" rows="5" formControlName="message"></textarea>
          </div>
          <br>
          <div class="row text-center">
              <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary btn-embossed" [disabled]="!inviteForm.valid">Invite now</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>