<section>
<div class="main-content">
<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">©</span> 2018 </span>
      <span>Select Society</span>.
      <span>All rights reserved. </span>
    </p>
    <!-- <p class="pull-right sm-pull-reset">
      <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
    </p> -->
  </div>
</div>
</div>
</section>
