<div class="modal fade" id="show-pramoter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="icons-office-52"></i>
        </button>
        <h4 class="modal-title">
          <strong>Pramoters</strong> details</h4>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Full Name</th>
              <td>{{objEvent.fullName}}</td>
            </tr>
            <tr>
              <th>User Name</th>
              <td>{{objEvent.userName}}</td>
            </tr>
            <tr>
                <th>User Type</th>
                <td>{{objEvent.userType}}</td>
              </tr>
            <tr>
              <th>Contact</th>
              <td>{{objEvent.contact}} </td>
            </tr>
        
            <tr>
              <th>Email </th>
              <td>{{objEvent.email}} </td>
            </tr>
            
          
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Ok, Got It</button>
      </div>
    </div>
  </div>
</div>
