<section>
  <div class="main-content">
    <div class="page-content page-thin">
      <div class="row">
        <div class="header">
          <h2>
            <strong> Promoters</strong>
          </h2>
          <!-- <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li>
                <a [routerLink]="[arrRoutes.dashboard]">Home</a>
              </li>
              <li class="active">Promoters</li>
            </ol>
          </div> -->
        </div>
      </div>
      <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
              <a class="edit btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus" ></i></a>  
          </div>
        </div>



        <div class="loading" *ngIf="!dataSource">
            Loading&#8230;
          </div>
        <div class="row">
          <div class="table-responsive">
            <div class="example-container mat-elevation-z8">
               <mat-table #table [dataSource]="dataSource" matSort *ngIf="dataSource">

                  <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Full Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.fullName }} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="userName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.userName }} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="userType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.userType == 3 ? 'Promoter' : '' }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="contact">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Contact </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.contact}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      Action
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row; let i=index;">
                      <a class="edit btn btn-sm btn-blue" (click)="showPramoters(row._id)"><i class="fa fa-eye"></i></a> 
                      <a class="edit btn btn-sm btn-default" (click)="editPramoter(row._id)"><i class="icon-note"></i></a>  
                      <a class="delete btn btn-sm btn-danger" (click)="deletePramoter(row._id)"><i class="fa fa-trash"></i></a>
                      <a class="edit btn btn-sm btn-bluer">Guest List</a>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                
                </mat-table>

             
                <mat-paginator #paginator
                               [pageSize]="5"
                               [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
        </div>
      </div>

    </div>
    </div>
    </section>


  

   <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>
            <strong><u>Add Pramotors</u> </strong></h4>
        </div>
        <div class="modal-body">
          <div class="row">

            <form novalidate [formGroup]="userForm" (ngSubmit)="addPramotor()">
            
            <div class="form-group">
                <label for="fullName">FullName:</label>
                <input type="text" formControlName="fullName" class="form-control" [(ngModel)]="pramotorsModel.fullName">

                <!-- validation -->
                <div *ngIf="userForm.get('fullName').touched && userForm.get('fullName').invalid" class="alert alert-danger">
                    <div *ngIf="userForm.get('fullName').hasError('required')">
                        Name Required
                    </div>

                    <div *ngIf="userForm.get('fullName').hasError('pattern')">
                    Invalid Name
                    </div>
                
                </div> 

            </div>

            <div class="form-group">
                <label for="userName">UserName:</label>
                <input type="text" formControlName="userName" class="form-control" [(ngModel)]="pramotorsModel.userName">

                <!-- validation -->
                <div *ngIf="userForm.get('userName').touched && userForm.get('userName').invalid" class="alert alert-danger">
                    <div *ngIf="userForm.get('userName').hasError('required')">
                        userName Required
                    </div>

                    <div *ngIf="userForm.get('userName').hasError('pattern')">
                    Invalid userName
                    </div>
                
                </div> 

            </div>


               <!-- <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" formControlName="password" class="form-control" [(ngModel)]="pramotorsModel.password">

             validation 
                <div *ngIf="userForm.get('password').touched && userForm.get('password').invalid" class="alert alert-danger">
                    <div *ngIf="userForm.get('password').hasError('required')">
                        Password Required
                    </div>

                    <div *ngIf="userForm.get('password').hasError('minlength')">
                        Password should be greater than 4 digits
                      </div>
                </div> 
            </div>-->

            <div class="form-group">
                <label for="contact">Contact:</label>
                <input type="text" formControlName="contact" class="form-control" maxlength="10" [(ngModel)]="pramotorsModel.contact">

                    <!-- validation -->
                    <div *ngIf="userForm.get('contact').touched && userForm.get('contact').invalid" class="alert alert-danger">
                        <div *ngIf="userForm.get('contact').hasError('required')">
                            Contact Required
                        </div>
            
                        <div *ngIf="userForm.get('contact').hasError('minlength') && !userForm.get('contact').hasError('pattern')">
                        Contact Must be of 10 digits
                        </div>

                        <div *ngIf="userForm.get('contact').hasError('maxlength') && !userForm.get('contact').hasError('pattern')">
                          Contact Must be of 10 digits
                        </div>

                        <div *ngIf="userForm.get('contact').hasError('pattern')">
                        Invalid Contact
                        </div>
                        
                    </div> 

                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" formControlName="email" class="form-control" [(ngModel)]="pramotorsModel.email">

                    <!-- validation -->
                    <div *ngIf="userForm.get('email').touched && userForm.get('email').invalid" class="alert alert-danger">
                        <div *ngIf="userForm.get('email').hasError('required')">
                            Email Required
                        </div>

                        <div *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
                          Invalid Email
                          </div>

                          <div *ngIf="userForm.get('email').hasError('pattern')">
                              Invalid Email
                          </div>

                    
                    </div>
                </div>

                <button type="submit" name="name" [disabled]="userForm.invalid" class="btn btn-success submitSuccess" >Submit</button>

            </form>

            </div>
        </div>
   
      </div>
    </div>
  </div> 
  
<!-- <app-add-promoter></app-add-promoter> -->
  <app-show-pramoter [objEvent]="objEvent" ></app-show-pramoter>
<app-edit-pramoter [objEvent]="objEvent" ></app-edit-pramoter>




 