<section>
  <div class="main-content">
      <div class="page-content page-thin">
        <div class="row">
            <div class="header">
                <h2>Sub<strong> User</strong></h2>                  
              </div>
        </div>
        <!-- <div class="row text-center" *ngIf="showLoader">
          <mat-spinner [diameter]="50" color="black" style="margin:0 auto 100 100;" mode="center"></mat-spinner>
        </div> -->

        <div class="loading" *ngIf="showLoader">
          Loading&#8230;
        </div>

      
        <div class="row" *ngIf="!showLoader">
          <div class="page-content page-builder mat-elevation-z8">
            <!-- add subuser -->
            <form class="col-sm-8 col-sm-push-2" *ngIf="!showDetails" [formGroup]="adduserForm" (ngSubmit)="onSubmit(model)">
              <div class="form-group row">
                <label><span class="form-error">*</span> Username</label>
                <input type="text" class="form-control" name="userName" placeholder="Enter username" [(ngModel)]="model.userName" formControlName="userName" maxlength="45">
                <div *ngIf="adduserForm.get('userName').touched">
                    <div class="form-error" *ngIf="adduserForm.get('userName').hasError('required')">
                        * Please enter username
                      </div>
                </div>                
              </div>
              <div class="form-group row">
                <label><span class="form-error">*</span> Email address</label>
                <input type="email" class="form-control" placeholder="Enter email address" [(ngModel)]="model.email" formControlName="email" maxlength="50">
                <div *ngIf="adduserForm.get('email').touched">
                <div class="form-error" *ngIf="adduserForm.get('email').hasError('required')">
                    * Please enter email address
                  </div>
                  <div class="form-error" *ngIf="adduserForm.get('email').hasError('pattern')">
                    * The email address must contain at least the @ character
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-sm-6 no_padding_l no_margin_b">
                      <label><span class="form-error">*</span> Contact Number</label>
                      <input type="text" class="form-control" placeholder="Enter contact number"  [(ngModel)]="model.contact" maxlength="10" formControlName="contact">
                      <div *ngIf="adduserForm.get('contact').touched">
                      <div class="form-error" *ngIf="adduserForm.get('contact').hasError('required')">
                          * Please enter contact number
                        </div>
                        <div class="form-error" *ngIf="adduserForm.get('contact').hasError('pattern')">
                          * Contact number contain only numbers
                        </div>
                        </div>

                    
                    </div>
                    <div class="form-group col-sm-6 no_padding_l no_margin_b">
                        <label><span class="form-error">*</span> Date of Birth </label><br>
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.dob" formControlName="dob" disabled>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
              </div> 
              <div class="row">
                  <div class="form-group col-sm-6 no_padding_l">
                      <label><span class="form-error">*</span> City</label>
                      <input type="text" class="form-control" placeholder="Enter city" [(ngModel)]="model.city" formControlName="city" maxlength="25">
                      <div *ngIf="adduserForm.get('city').touched">
                      <div class="form-error" *ngIf="adduserForm.get('city').hasError('required')">
                          * Please enter city
                        </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 no_padding_l">
                      <label><span class="form-error">*</span> State</label>
                      <input type="text" class="form-control" placeholder="Enter state" [(ngModel)]="model.state"  formControlName="state" maxlength="25">
                      <div *ngIf="adduserForm.get('state').touched">
                      <div class="form-error" *ngIf="adduserForm.get('state').hasError('required')">
                          * Please enter state
                        </div>
                        </div>
                    </div>
              </div>
              <div class="form-group row">
                <label><span class="form-error">*</span> ZipCode</label>
                <input type="text" class="form-control" placeholder="Enter zipcode" [(ngModel)]="model.zipCode" formControlName="zipCode" maxlength="6">
                <div *ngIf="adduserForm.get('zipCode').touched">
                <div class="form-error" *ngIf="adduserForm.get('zipCode').hasError('pattern')">
                    * Zip code contain only numbers
                  </div>
                  <div class="form-error" *ngIf="adduserForm.get('zipCode').hasError('required')">
                    * Please enter zip code
                  </div>
                  </div>
              </div>
              <div class="row">
                <label>User access</label><br>
                  <div class="col-sm-4">
                      <label class="checkbox-inline custom-checkbox">
                          <span>View
                            <input type="checkbox" value="option1">
                          <span class="checkmark"></span>
                        </span>
                        </label>
                  </div>
                  <div class="col-sm-4">
                    <label class="checkbox-inline custom-checkbox">
                        <span>Edit
                          <input type="checkbox" value="option1">
                        <span class="checkmark"></span>
                      </span>
                      </label>
                  </div>
                  <div class="col-sm-4">
                      <label class="checkbox-inline custom-checkbox">
                          <span>Delete
                            <input type="checkbox" value="option1">
                          <span class="checkmark"></span>
                        </span>
                        </label>
                  </div>
              </div>
              <div class="row text-center"><br>
                <input class="btn btn-blue" type="submit"  value="Add Now !" [disabled]="!adduserForm.valid">
              </div><br>
            </form>

            <!---show subuser details-->

            <div class="col-sm-8 col-sm-push-2" *ngIf="showDetails">
              <div class="row">
                <div class="col-sm-6">
                    <label>Username</label>
                    <p>{{subuserDetail.userName}}</p>
                </div>
                <div class="col-sm-6">
                    <label>Email address</label>
                    <p>{{subuserDetail.email}}</p>
                </div>                  
              </div>
              <div class="row">
                <div class="col-sm-6 no_padding_l">
                    <label>Contact Number</label>
                    <p>{{subuserDetail.contact}}</p>
                </div>
                <div class="col-sm-6 no_padding_l">
                    <label>Birthdate</label>
                    <p>{{subuserDetail.dob}}</p>
                </div>                  
              </div>
              <div class="row">
                <div class="col-sm-6 no_padding_l">
                    <label>City</label>
                    <p>{{subuserDetail.city}}</p>
                </div>
                <div class="col-sm-6 no_padding_l">
                    <label>State</label>
                    <p>{{subuserDetail.state}}</p>
                </div>                  
              </div>
              <div class="row">
                  <label>ZipCode</label>
                  <p>{{subuserDetail.zipCode}}</p>
              </div>
              <!-- <div class="row">
                <label>User access</label><br>
                <label class="mr-20">
                  <i class="fa fa-check txt-purple" *ngIf="subuserDetail.access.view==true"></i> 
                  <i class="fa fa fa-times txt-purple" *ngIf="subuserDetail.access.view==false"></i> 
                  &nbsp;&nbsp; View</label>
                <label class="mr-20">
                   <i class="fa fa-check txt-purple" *ngIf="subuserDetail.access.edit==true"></i> 
                   <i class="fa fa fa-times txt-purple" *ngIf="subuserDetail.access.edit==false"></i> 
                  &nbsp;&nbsp; Edit</label>
                <label class="mr-20">
                  <i class="fa fa-check txt-purple" *ngIf="subuserDetail.access.delete==true"></i> 
                  <i class="fa fa fa-times txt-purple" *ngIf="subuserDetail.access.delete==false"></i> 
                  &nbsp;&nbsp; Delete</label>
              </div> -->
              <div class="row"><br>
                  <button class="purple-btn" (click)="deleteUser(subuserDetail._id)">Delete User</button> <br>
                
              </div>
              <div class="row"><br>
                <button class="purple-btn" (click)="editUser(subuserDetail._id)">Edit User</button> <br>
            </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>