<section>
  <div class="main-content">
      <div class="page-content page-thin">
          <div class="row" >
              <div class="row m-t-10">
                  <!-- <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-4 col-xs-12">
                      <div class="panel">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <i class="glyphicon glyphicon-music bg-yellow"></i>
                            </div>
                            <div class="right">
                              <p class="number" *ngIf="arrData">{{arrData.eventCount}}</p>
                              <p class="text">Events</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-4 col-xs-12 width300">
                        <div class="panel">
                          <div class="panel-content widget-info">
                            <div class="row">
                              <div class="left">
                                <i class="icon-users bg-blue"></i>
                              </div>
                              <div class="right">
                                <p class="number"  *ngIf="arrData">{{arrData.promotorCount}}</p>
                                <p class="text">Registered Promotor</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-4 col-xs-12 width300">
                          <div class="panel">
                            <div class="panel-content widget-info">
                              <div class="row">
                                <div class="left">
                                  <i class="icon-users bg-blue"></i>
                                </div>
                                <div class="right">
                                  <p class="number"  *ngIf="arrData">{{arrData.followerCount}}</p>
                                  <p class="text">Followers</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-4 col-xs-12 width300">
                            <div class="panel">
                              <div class="panel-content widget-info">
                                <div class="row">
                                  <div class="left">
                                    <i class="icon-users bg-blue"></i>
                                  </div>
                                  <div class="right">
                                    <p class="number"  *ngIf="arrData">{{arrData.followingCount}}</p>
                                    <p class="text">Following</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                  <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-4 col-xs-12 width300">
                    <div class="panel">
                      <div class="panel-content widget-info">
                        <div class="row">
                          <div class="left">
                            <i class="glyphicon glyphicon-music bg-yellow"></i>
                          </div>
                          <div class="right">
                            <p class="number" *ngIf="arrData">{{arrData.clubCount}}</p>
                            <p class="text">Registered Club</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      
            
                  <div class="col-xlg-3 col-lg-3 col-md-3 col-sm-4 col-xs-12">                     
                  </div> -->
                  <!-- <button mat-button [matMenuTriggerFor]="menu" class="setting-btn"><i class="icon-wrench"></i></button>
                  <mat-menu #menu="matMenu">
                      <div class="row">
                        <div class="panel">
                          <div class="panel-header panel-controls">
                              <h3><i class="icon-layers"></i> Choose theme <strong>color</strong></h3>
                          </div>
                          <div class="panel-content">
                          <ul class="list-inline">
                            <li><button (click)="setthemecolor(1)" class="btn bg-dark"></button></li>
                            <li><button (click)="setthemecolor(2)" class="btn background-primary"></button></li>
                            <li><button (click)="setthemecolor(3)" class="btn bg-red"></button></li>
                            <li><button (click)="setthemecolor(4)" class="btn bg-green"></button></li>
                            <li><button (click)="setthemecolor(5)" class="btn bg-orange"></button></li>
                            <li><button (click)="setthemecolor(6)" class="btn bg-purple"></button></li>
                            <li><button (click)="setthemecolor(7)" class="btn bg-blue"></button></li>
                          </ul>  
                          </div>   
                        </div>       
                        </div>
                  </mat-menu> -->
                  <!-- <div class="col-xlg-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="panel">
                      <div class="panel-content widget-info">
                        <div class="row">
                          <div class="left">
                            <i class="fa fa-calendar bg-red"></i>
                          </div>
                          <div class="right">
                            <p class="number">46</p>
                            <p class="text">Upcoming Appointment</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xlg-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="panel">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <i class="icon-note bg-blue-dark"></i>
                            </div>
                            <div class="right">
                              <p class="number">60</p>
                              <p class="text">Total Post</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="row m-t-10">
                  <!-- <div class="row"><br><br>
                    <img src="assets/images/oxford_logo.png" class="center-block">
                  </div> -->
                  <div class="row text-center welcome-text">
                    <h1>Welcome, <span>Oxford Social Club</span></h1>
                    <h2>Good to see you here</h2>
                  </div>
                  <div class="row counter-row">
                    <div class="col-sm-3">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <i class="fa fa-calendar bg-yellow"></i>
                            </div>
                            <div class="right">
                              <p class="text">Events</p>
                              <p class="number" *ngIf="arrData">{{arrData.eventCount}}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <i class="icon-user bg-yellow"></i>
                            </div>
                            <div class="right">
                              <p class="text">Promoter</p>
                              <p class="number" *ngIf="arrData">{{arrData.promotorCount}}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <i class="icon-user-follow bg-yellow"></i>
                            </div>
                            <div class="right">
                              <p class="text">Followers</p>
                              <p class="number" *ngIf="arrData">{{arrData.followerCount}}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <i class="icon-user-following bg-yellow"></i>
                            </div>
                            <div class="right">
                              <p class="text">Following</p>
                              <p class="number" *ngIf="arrData">{{arrData.followingCount}}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row map-row">
                      <agm-map style="height: 350px" [latitude]="32.715760" [longitude]="-117.163820">
                          <agm-marker [latitude]="32.715760" [longitude]="-117.163820">
                            <agm-snazzy-info-window [closeWhenOthersOpen]="true" class="map-location">
                              <ng-template>
                                  Oxford Social Club<br>
                                  435 fifth ave, San Diego, Ca 92101
                              </ng-template>
                            </agm-snazzy-info-window>
                          </agm-marker>
                        </agm-map>
                  </div>
                </div>
          </div>

        </div>
        
        

  </div>
</section>
  <!-- END SEARCH -->
  <!-- BEGIN PRELOADER -->
  <!-- <div class="loader-overlay">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div> -->
  <!-- END PRELOADER -->
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> 