.cart-total div
{
    width:100% !important;
}
.setting-btn
{
    position: absolute;
    right: 0px;
    /* height: 30px; */
    min-width: 35px;
    line-height: 43px;
    font-size: 24px;
    background-color: #fff;
    box-shadow: -2px 2px 4px 1px #d3caca;
}
.panel
{
    padding-left: 20px;
}

.width300 {
    width: 300px
}
.page-content{
    background:url('../../../assets/images/ox-header-in.jpg') no-repeat center;
    background-size: cover;
    height: auto;
    padding-bottom: 150px !important;
}
.welcome-text{
    color: #fff;
}
.welcome-text h1
{
    margin-top: 30px;
    font-weight: 500;
}
.welcome-text h2
{
    font-weight: 500;
    font-style: italic;
}
.counter-row{
    padding: 50px 15px;
}
.counter-block{
    padding: 10px;
    background-color: #000;
}
.main-content .page-content .panel-content{
    background-color: #000000cf;
    padding: 20px 20px 20px 20px;
    border: 1px solid #000;
}
.widget-info .right .text{
    font-weight: 600 !important;
    color: #ffffff !important;
    font-size: 14px !important;
}
.widget-info .right .number{
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}
.widget-info .left {
    float: left;
    padding-left: 6px;
    width: 70px;
    margin-top: 9px;
}
i.bg-yellow::before {
    background-color: #d0d0d0 !important;
    color: #000 !important;
}
.map-location{
    background-color: #fff;
    widows: 300px;
}
.map-row{
    padding: 10px 50px;
}