.title{
    padding-left: 15px;
    font-size: 22px;
    font-weight: 500;
}
.question-section
{
    padding: 5px 15px;
    background-color: #f1f1f1;
    margin: 15px;
}
.question-section h3{
    font-weight: 600;
}
.question-section .row
{
    padding:0px 15px;
}
.progress{
    background-color: #d1d1d1;
}
.fa-star{
    font-size: 22px;
    color:rgb(228, 215, 38);
    text-shadow: 1px 1px 1px #a8a8a8;
}