<section>
  <div class="main-content">
    <div class="page-content page-thin">
      <div class="row">
        <div class="header">
          <h2>
            <strong> Feedback</strong>
          </h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li>
                <a [routerLink]="['/dashboard']">Home</a>
              </li>
              <li class="active">Feedback</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row panel">
        <h2 class="title text-primary">List of questions</h2>
        <!-- <div class="question-section">
            <h3>1. How would you rate the app?</h3>

            <div class="row">
            <div class="col-sm-4">
              <p><span class="fa fa-star"></span></p>
            </div>
            <div class="col-sm-6">
              <div class="progress progress-bar-large">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (warning)</span>
                  40%
                </div>
              </div>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-4">
              <p><span class="fa fa-star"></span> <span class="fa fa-star"></span></p>
            </div>
            <div class="col-sm-6">
              <div class="progress progress-bar-large">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                  <span class="sr-only">30% Complete (warning)</span>
                  30%
                </div>
              </div>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-4">
              <p><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></p>
            </div>
            <div class="col-sm-6">
              <div class="progress progress-bar-large">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                  <span class="sr-only">30% Complete (warning)</span>
                  30%
                </div>
              </div>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-4">
              <p><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></p>
            </div>
            <div class="col-sm-6">
              <div class="progress progress-bar-large">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  <span class="sr-only">80% Complete (warning)</span>
                  80%
                </div>
              </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <p><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></p>
              </div>
              <div class="col-sm-6">
                <div class="progress progress-bar-large">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (warning)</span>
                    80%
                  </div>
                </div>
              </div>
              </div>



          </div> -->

        <div class="question-section" *ngFor="let question of questions; let i = index">
          <h3>{{i+1}}. {{question.question}}?</h3>

          <div class="row" *ngFor="let option of question.arrOption">
            <div class="col-sm-4">
              <p *ngIf="option.option != '1' && option.option != '2' && option.option != '3' && option.option != '4' && option.option != '5'  ">{{option.option}}</p>
              <p *ngIf="option.option == '1' ">
                <span class="fa fa-star"></span>
              </p>
              <p *ngIf="option.option == '2' ">
                <span *ngFor="let item of createRange(2)" class="fa fa-star"></span>
              </p>
              <p *ngIf="option.option == '3' ">
                <span *ngFor="let item of createRange(3)" class="fa fa-star"></span>
              </p>
              <p *ngIf="option.option == '4' ">
                <span *ngFor="let item of createRange(4)" class="fa fa-star"></span>
              </p>
              <p *ngIf="option.option == '5' ">
                <span *ngFor="let item of createRange(5)" class="fa fa-star"></span>
              </p>
            </div>
            <div class="col-sm-6">
              <div *ngIf="feedbacks[question._id]">
                <div class="progress progress-bar-large" *ngFor="let feedback of feedbacks[question._id]">
                  <div *ngIf="feedback[option.option]" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="feedback[option.option].percentage">
                    <!-- <span class="sr-only">40% Complete (warning)</span> -->
                    <span>
                      <span *ngIf="feedback[option.option]">{{feedback[option.option].percentage}}%</span>
                      <span *ngIf="!feedback[option.option]">0%</span>
                    </span>
                  </div>
                  <div *ngIf="!feedback[option.option]" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" style="width: 0%">
                    <!-- <span class="sr-only">40% Complete (warning)</span> -->


                    <span>0%</span>

                  </div>
                </div>
              </div>
              <div *ngIf="!feedbacks[question._id]">
                <div class="progress progress-bar-large">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                    style="width: 0%">
                    <!-- <span class="sr-only">40% Complete (warning)</span> -->

                    <span>0%</span>

                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>

        <!-- <div class="question-section" >
          <h3>comments, concerns or thoughts.?</h3>


        </div> -->
      </div>
    </div>
  </div>
</section>