<div class="modal fade" id="edit-pramoter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icons-office-52"></i>
          </button>
          <h4 class="modal-title">
            <strong>Edit</strong> Pramoter</h4>
            <div style="width: 100%; text-align: center; font-weight: bold; ">
                <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
            </div>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <form (ngSubmit)="updateUser(model,eventForm.form.valid)" #eventForm="ngForm">
              <table class="table">
                <tr>
                  <th>Full Name</th>
                  <td>
                    <input required type="text" name="fullName" id="fullName" [(ngModel)]="model.fullName" #fullName="ngModel" class="form-control">
                         
                  </td>
                </tr>
                <tr>
                    <th>
                      User Name <span style="color:red">*</span>
                    </th>
                    <td colspan="2">
                      <input required type="text" name="userName" id="userName" [(ngModel)]="model.userName" #fullName="ngModel" class="form-control">
                    
                    </td>
                  </tr>
                <tr>
                  <th>User Type</th>
                  <td>
                    <textarea  name="userType" id="userType" [(ngModel)]="model.userType" #description="ngModel"  class="form-control"></textarea>
                    
                  </td>
                </tr>
  
                <tr>
                  <th>Contact</th>
                  <td>
                    <input type="number" required name="contact" id="contact" [(ngModel)]="model.contact" #minAgeLimit="ngModel" class="form-control">
                   
                  </td>
                </tr>

                <tr>
                  <th>Email</th>
                  <td>
                    <input type="text" required name="email" id="email" [(ngModel)]="model.email" #minAgeLimit="ngModel" class="form-control">
                  
                  </td>
                </tr>
            
              </table>
              <div class="row text-right">
                <button type="submit" class="btn btn-primary btn-embossed" >Submit</button>
                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>