<header class="row text-center">
  <a [routerLink]="['/home']"><img src="../assets/images/logo.png" height="160px"></a>
  <h1>Select Society</h1>
</header>
<section class="row">
  <div class="middle-section">
  <div class="container text-center">
    <h2>Terms & Conditions</h2><br>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
  </div>
</section>
<footer class="row">
  <div class="container">
  <div class="col-sm-6">
    <p>Copyright © 2018 SESO. All rights reserved</p>
  </div>
  <div class="col-sm-6 footer-links">
    <p class="text-right"><a [routerLink]="['/home']">Home |</a>
    <a [routerLink]="['/terms']">Terms and conditions </a></p>
  </div>
  </div>
</footer>

