<section>
  <div class="main-content">
    <div class="page-content page-thin">
      <div class="row">
        <div class="header">
          <h2>
            <strong> Followers</strong>
          </h2>
        </div>
      </div>

      <!-- <div class="loading" *ngIf="!user">
        Loading&#8230;
      </div> -->


      <div class="row panel" loading=false  *ngIf="loading">
        <div class="table-responsive">
          <table class="table table-bordered text-center" style="border: 1px solid #e5e1e1;">
            <thead>
              <tr>
                <th class="text-center"> Sr.no </th>
                <th class="text-center"> Follower image </th>
                <th class="text-center"> Follower name </th>
                <th  class="text-center"> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of arrUser">
                <td>1.</td>
                <td><img src="{{user.followerUser.userPic}}" height="50px" width="50px"></td>
                <td>{{user.followerUser.userName}}</td>
                <td>
                  <!-- <a href="#" class="btn btn-success"><i class="fa fa-ban"></i> </a>  -->
                  <a class="btn btn-danger" (click)="deleteFollower(user._id)"><i class="fa fa-trash"></i> </a>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
        <!-- <div class="row">
          <div class="col-sm-6">
              <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 18 of 18 entries</div>
          </div>
          <div class="col-sm-6">
            <nav aria-label="Page navigation">
              <ul class="pagination pull-right">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            </div>
        </div> -->
      </div>
</div>
</div>
</section>
