<div class="modal fade" id="add-choice" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="icons-office-52"></i>
        </button>
        <h4 class="modal-title">
          <strong>Choice Questionaire</strong>Add</h4>
          <div style="width: 100%; text-align: center; font-weight: bold; ">
              <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
          </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <form (ngSubmit)="submitForm(model,choiceForm.form.valid)" #choiceForm="ngForm">
            <table class="table">
              <tr>
                <th>Choice Title</th>
                <td>
                  <input required minlength="3" type="text" name="title" id="title" [(ngModel)]="model.title" #title="ngModel" class="form-control" placeholder="Enter choice name">
                  <div [hidden]="title.valid || title.pristine" class="form-error">
                    <div [hidden]="!title.hasError('required')">choice title is required</div>
                    <div [hidden]="!title.hasError('minlength')">Required atleast 3 charactor</div>
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Choice question</th>
                <td>
                  <textarea required minlength="3" name="question" id="question" [(ngModel)]="model.question" #question="ngModel"  class="form-control" placeholder="Enter question"></textarea>
                  <div [hidden]="question.valid || question.pristine" class="form-error">
                    <div [hidden]="!question.hasError('required')"> question is required</div>
                    <div [hidden]="!question.hasError('minlength')">Required atleast 3 charactor</div>
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Choice Options</th>
                <td>
                  <mat-form-field class="demo-chip-list">
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let option of options" [selectable]="selectable" [removable]="removable" (remove)="remove(option)">
                        {{option.option}}
                        <mat-icon matChipRemove *ngIf="removable">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-chip>
                      <input placeholder="Options"  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-list>
                  </mat-form-field>
                </td>
              </tr>

             
            </table>
            <div class="row text-right">
              <button type="submit" class="btn btn-primary btn-embossed" >Submit</button>
              <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>