<input type="checkbox" name="mobile-nav" id="mobile-nav" class="burger-check" onchange="this.blur()">
<label for="mobile-nav" class="burger white" tabindex="0">
  <i class="glyphicon glyphicon-menu-hamburger"></i>
</label>
<!--<i class="menuicon fa fa-bars"></i>-->
<nav role="navigation" class="header-nav">
  <div class="fixed-nav col-sm-3 col-xs-2">
    <div class="">
      <ul class="sidemenu">
        <li class="page_item page-item-2" routerLinkActive="active">
          <a [routerLink]="[arrRoutes.dashboard]" class="waves-effect">
            <i class="icon-home"></i> Dashboard
          </a>
        </li>
        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '4'">
          <a [routerLink]="[arrRoutes.mailbox]" class="waves-effect">
            <i class="icon-envelope"></i>
            <span>Mailbox</span>
          </a>
        </li>

        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2' || utility.localStorageParseItem('user_info').userType == '3'">
          <a [routerLink]="[arrRoutes.event]" class="waves-effect">
            <i class="fa fa-calendar"></i>
            <span>Events</span>
          </a>
        </li>

        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a [routerLink]="[arrRoutes.media]" class="waves-effect">
            <i class="icon-picture"></i>
            <span>Media</span>
          </a>
        </li>
        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a [routerLink]="[arrRoutes.subuser]" class="waves-effect">
            <i class="fa fa-user-plus"></i>
            <span>Add Subuser</span>
          </a>
        </li>
        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '4'">
          <a [routerLink]="[arrRoutes.choice]" class="waves-effect">
            <i class="icon-picture"></i>
            <span>Choices</span>
          </a>
        </li>

        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a [routerLink]="[arrRoutes.invite_promoter]" class="waves-effect">
            <i class="fa fa-envelope-o"></i>
            <span>Invite Promotors</span>
          </a>
        </li>

        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a [routerLink]="[arrRoutes.promotors]" class="waves-effect">
            <i class="icon-user"></i>
            <span>Promotor</span>
          </a>
        </li>

        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a [routerLink]="[arrRoutes.followers]" class="waves-effect">
            <i class="icon-user-follow"></i>
            <span>Followers</span>
          </a>
        </li>

        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a [routerLink]="[arrRoutes.followings]" class="waves-effect">
            <i class="icon-user-following"></i>
            <span>Followings</span>
          </a>
        </li>



        <!-- <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2' || utility.localStorageParseItem('user_info').userType == '3'">
          <a [routerLink]="[arrRoutes.addpramotor]" class="waves-effect">
            <i class="icon-user"></i>
            <span>Add Promoter</span>
          </a>
        </li>


        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2' || utility.localStorageParseItem('user_info').userType == '3'">
          <a [routerLink]="[arrRoutes.demo]" class="waves-effect">
            <i class="icon-user"></i>
            <span>Demo</span>
          </a>
        </li> -->

        <!-- <li class="nav-parent" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '2'">
          <a ><i class="icon-puzzle"></i><span>Network</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a [routerLink]="[arrRoutes.promotor]" routerLinkActive="active"> Promotors</a></li>
            <li><a [routerLink]="[arrRoutes.followers]" routerLinkActive="active"> Followers</a></li>
            <li><a [routerLink]="[arrRoutes.follings]" routerLinkActive="active"> Followings</a></li>
          </ul>
        </li> -->
        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '4'">
          <a [routerLink]="[arrRoutes.userlist]" class="waves-effect">
            <i class="icon-users"></i>
            <span>Userlist</span>
          </a>
        </li>
        <li class="page_item page-item-2" routerLinkActive="active" *ngIf="utility.localStorageParseItem('user_info').userType == '4'">
          <a [routerLink]="[arrRoutes.feedback]" class="waves-effect">
            <i class="fa fa-comment-o"></i>
            <span>Feedback</span>
          </a>
        </li>
        <!-- <li class="page_item page-item-2" routerLinkActive="active">
            <a [routerLink]="['/appointments']" class="waves-effect"><i class="fa fa-calendar"></i><span>Appointments</span></a>         
         </li>
         <li class="page_item page-item-2" routerLinkActive="active">
          <a [routerLink]="['/payment-history']" class="waves-effect"><i class="fa fa-history"></i><span>Payment History</span></a>         
         </li>
          <li class="page_item page-item-2" routerLinkActive="active">
              <a [routerLink]="['/matches-component']" class="waves-effect"><i class="fa fa-heart"></i><span>Matches Component</span></a>         
          </li>
          <li class="page_item page-item-2" routerLinkActive="active">
            <a [routerLink]="['/post']" class="waves-effect"><i class="icon-note"></i><span>Post </span></a>
          </li>     -->
      </ul>
    </div>

  </div>
  <div class="fixed-nav top-right-menu col-sm-9 col-xs-10">
    <div class="dropdown pull-right">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Welcome,
        <span *ngIf="utility.localStorageParseItem('user_info').userType === '4'"> Admin</span>
        <span *ngIf="utility.localStorageParseItem('user_info').userType === '2'"> Club Owner</span>
        <span *ngIf="utility.localStorageParseItem('user_info')" style="font-weight: 100"> {{utility.localStorageParseItem('user_info').userName}}</span>
        <i class="icon-user"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngIf="utility.localStorageParseItem('user_info').userType === '4'">
          <a [routerLink]="[arrRoutes.account_setting]">
            <i class="fa fa-cog"></i> Account Setting</a>
        </li>
        <li *ngIf="utility.localStorageParseItem('user_info').userType === '2'">
          <a [routerLink]="[arrRoutes.profile_setting]">
            <i class="icon-user"></i> Profile Setting</a>
        </li>
        <li>
          <a (click)="logout()">
            <i class="fa fa-sign-out"></i> LogOut</a>
        </li>
      </ul>
    </div>
    <div class="dropdown pull-right notification hidden-xs">
      <!-- <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="icon-paper-plane"></i>
        <span class="notification-count">5</span>
      </button> -->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <!-- <li><a [routerLink]="['/account-setting']"><i class="fa fa-cog"></i> Account Setting</a></li> 
              <li><a [routerLink]="['/login']"><i class="fa fa-sign-out"></i> LogOut</a></li> -->
        <li class="clearfix">
          <div class="clearfix">
            <strong>Alexa Johnson</strong>
            <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time p-r-5"></span>12 mins ago
            </small>
          </div>
        </li>
        <li class="clearfix">
          <div class="clearfix">
            <strong>Alexa Johnson</strong>
            <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time p-r-5"></span>12 mins ago
            </small>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>