.main-content
{
    min-height: auto !important;
}
.sidebar .logopanel h1 a
{
    background-image: none !important;
    color: #fff !important;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger,
.burger:after,
.burger *,
.burger *:before,
.burger *:after,
.header-nav *,
.header-nav *:before,
.header-nav *:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger i{
    color: #c9c9c9;
    top: 20px;
    left: 25px;
    font-size: 22px;
    display: none;
}
.burger {
  cursor: pointer;
  height: 60px;
  margin-bottom: 0;
  width: 230px;
  /*width: 200px;*/
  z-index: 1030;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
 
}

  .burger:after {
    bottom: -6px;
    color: #FFFFFF;
    content: '';
    font-size: 21px;
    font-weight: 700;
    right: 70px;
    /* left: 0; */
    position: absolute;
    text-align: center;
    width: 100%;
    background: url('../../../assets/images/oxford_logo.png') no-repeat;
    height: 50px;
    width: 100px;
    background-size: 100%;
  }


  /*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/

  .burger span,
  .burger span:before,
  .burger span:after {
    background: #FFFFFF;
    border-radius: 0.2em;
    height: 4px;
    left: 10px;
    position: absolute;
    top: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 40px;
  }


    /* Reset the left and create the pseudo-element */

    .burger span:before,
    .burger span:after {
      content: '';
      left: 0;
    }


    /* Top bar position */

    .burger span:before {
      top: -8px;
    }


    /* Bottom bar position */

    .burger span:after {
      top: 8px;
    }


/* Get rid of more on action (IE9 or higher) */

.burger-check:checked + .burger:after {
  /*content: '';*/

}


/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
  /*height: 0;
  width: 0;*/
}


  /* Moves the top and bottom bars to the middle on action (IE9 or higher) */

  .burger-check:checked + .burger span:before,
  .burger-check:checked + .burger span:after {
    /*top: 6px;*/
  }


  /* Rotates the top bar on action with full browser support (IE9 or higher) */

  .burger-check:checked + .burger span:before {
    /*-webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);*/
  }


  /* Rotates the bottom bar on action with full browser support (IE9 or higher) */

  .burger-check:checked + .burger span:after {
    /*-webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);*/
  }

#mobile-nav:focus + .burger,
.burger:focus,
.burger:hover {
  background: rgba(0, 136, 204, 0.9);
}

.burger-check:checked + .burger {
  width: 230px;
  /*width:60px;*/
}

  .burger-check:checked + .burger:after {
    /*bottom:7px;
    content:'Menus';
    font-size:13px;*/
  }

#mobile-nav {
  left: -9999px;
  position: fixed;
  top: 0;
}

  .header-nav ul li a:active,
  .header-nav ul .active a,
  .header-nav ul li a:focus,
  .header-nav ul li a:hover,
  #mobile-nav:focus + .burger,
  .burger:focus,
  .burger:hover {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    color: #000;
  }
  .header-nav ul li a:focus i,
  .header-nav ul li a:hover i{
    color: #000;
  }
  .header-nav ul li a:active,
  .header-nav ul .active a{
    background: rgb(123, 123, 123);
    color: #fff;
  }
  .header-nav ul .active a i{
    color: #fff;
  }

.fixed-nav {
  height: 60px;
  position: relative;
  padding:0px;
  /*width: 100%;*/
  z-index: 9000;
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.3);*/
}

.header-nav {
  float: left;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index:1024;
  top: 0px;
}

  .header-nav .sidemenu {
    background: #fff;
    height: calc(100vh - 60px);
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0px 0 0 0;
    position: absolute;
    /*-webkit-transform: translateX(-110%);
    transform: translateX(-110%);*/
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    width: 230px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
    top: 100%;
    z-index: 1;
  }

.burger-check:checked ~ .header-nav ul {
  /*-webkit-transform: translateX(0);
  transform: translateX(0);*/
  /*-webkit-transform: translateX(-110%);
  transform: translateX(-110%);*/
}

.header-nav ul li {
  float: left;
  position: relative;
  width: 100%;
}

  .header-nav ul li a {
    color: #000;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 40px;
    margin-left: 0;
    overflow: hidden;
    padding: 7px 20px;
    position: relative;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0s;
  }
.waves-effect i {
  color: #000;
  font-size: 15px;
  margin: 0px 5px;
  transition: all 0s;
}
.dropdown-toggle i {
  color: #fff;
  font-size: 14px;
  margin: 0px 5px;
}
.dropdown button{
  background-color:transparent !important;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: 0px;
  margin-top: 10px;
  margin-right:10px;
}
.dropdown-menu
{
  padding:0px !important;
}
.sidemenu .dropdown-menu {
  position: relative !important;
  box-shadow: none !important;
  border-top: 0px !important;
  background-color: #000;
  border-radius: 0px !important;
  width: 100% !important;
}
.menuicon {
  position: absolute;
  color: #fff;
  left: 200px;
  font-size: 26px;
  z-index: 1024;
  top: 17px;
}
.top-right-menu .dropdown-menu li a{
    color: #f5f5f5;
    background-color: #2b2e33;
}
.top-right-menu .dropdown-menu li a:hover
{
    background:#f1f1f1 !important;
    color: #333 !important;
}
.notification .dropdown-toggle
{
  position: relative;
}
.notification .dropdown-toggle i
{
  font-size: 22px !important;
}
.notification-count
{
  position: absolute;
  top: 0px;
  background-color: #fff;
  height: 18px;
  width: 18px;
  color: #333;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  font-size: 13px;
  /* box-shadow: 1px 1px 3px 0px #000; */
}
.notification .dropdown-menu{
  width:250px !important;
  margin-top: -5px;
}
.notification .dropdown-menu li
{
  padding: 5px 10px;
}
.notification .dropdown-menu li div
{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
}
.notification .dropdown-menu li:last-child div
{
  border-bottom: 0px;
  padding-bottom: 0px;
}

.burger, .fixed-nav
{
  background: #4c4c4c;
}

/* .color-primary .burger, .color-primary .fixed-nav {
    background:#319DB5;
}

.color-red .burger, .color-red .fixed-nav
{
  background:#c9625f;
}

.color-green .burger, .color-green .fixed-nav {
    background:#18a689;
} */