.image-list li
{
list-style-type: none;
display: inline-block;
position: relative;
}
.image-list li img, .image-list video
{
    border:1px solid #ccc;
    height: 170px;
    width: 170px;
    margin:12px;
    position: relative;
}
.custom-img img
{
    height: 175px;
    margin:0px auto !important;
}
input[type=file] {
    display: block;
    height: 35px;
    margin-top: -20px;
    /* width: 329px; */
    left: -8px;
    opacity: 0;
}
.btn-file
{
    padding:0px;
    line-height: 30px; 
}
.delete-img
{
    position: absolute;
    right: 0px;
    background-color: #FF1744;
    height: 25px;
    width: 25px;
    color: #fff;
    text-align: center;
    padding-top: 3px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    top: 0px;
    -webkit-box-shadow: 1px 1px 1px #777;
    box-shadow: 1px 1px 1px #777;
    z-index: 99;
}
.delete-img:hover{
    cursor: pointer;
    cursor: hand;
}
#mediaPreview{
    text-align: center;
    padding: 0px 10px 20px 0px;
}
input[type=file]
{
    margin-top:-30px;
}
#modal-image .close
{
    opacity: 1;
    width: 25px;
    text-shadow: none;
    height: 25px;
    border-radius: 50px;
    line-height: 13px;
    font-weight: 700;
    background-color: #ffffff;
    color: #000;
    box-shadow: inset 1px 1px 1px #555;
}
.image-list li a:hover{
    cursor: pointer;
    cursor: hand;
}
.modal-image .modal-content
{
    background-color: transparent !important;
}
.modal-image .modal-content:before
{
    z-index: 0 !important;
}
@media screen and (max-width: 768px) {
    .image-list
    {
        text-align: center;
    }
    .image-list li img,.image-list li video
    {
    height: 70px;
    width: 70px;
    }
}


/* loader css */


/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }