<section>
    <div class="main-content">
        <div class="page-content page-thin">
          <div class="row">
              <div class="header">
                  <h2>Club<strong> Media</strong></h2>                  
                </div>
          </div>
          <div class="row">
            <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
          </div>

          <div class="loading" *ngIf="!loaderFlag">
            Loading&#8230;
          </div>

          <div class="row">
              <div class="panel" style="    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);">
                  <div class="panel-content">
                    <ul class="nav nav-tabs nav-primary">
                      <li class="active"><a href="#tab2_1" data-toggle="tab"> Image Gallery</a></li>
                      <li class=""><a href="#tab2_2" data-toggle="tab"> Video Gallery</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade active in" id="tab2_1">
                        <div class="row">
                         <button class="btn btn-blue pull-right" (click)="addMedia(1)">Add Image's</button>                          
                        </div>
                        <div class="row image-list">
                          <ul class="image-list">                           
                            <li *ngFor="let imgurl of user_info.medias">
                                <span class="fa fa-close delete-img" *ngIf="imgurl.fileType==1" (click)="deleteMedia(imgurl._id)"></span><a (click)="viewMedia(imgurl.media,1)"><img *ngIf="imgurl.fileType==1" src="{{imgurl.media}}" class="img-responsive"></a>
                            </li>
                          </ul>
                      </div>
                      </div>
                      <div class="tab-pane fade" id="tab2_2">
                          <div class="row">
                          <button class="btn btn-blue pull-right" (click)="addMedia(2)">Add Video's</button>                          
                          </div>
                          <div class="row video-list">
                            <ul class="image-list">                           
                              <li *ngFor="let imgurl of user_info.medias">
                                  <span class="fa fa-close delete-img" *ngIf="imgurl.fileType==2" (click)="deleteMedia(imgurl._id)"></span>
                                  <a (click)="viewMedia(imgurl.media,2)">
                                  <video width="100%" height="170" *ngIf="imgurl.fileType==2">
                                      <source src="{{imgurl.media}}" type="video/mp4">
                                  </video>
                                  </a>
                              </li>
                            </ul>
                          </div>
                          
                      </div>
                    </div>
                  </div>
                </div>
          </div>
    </div>
  </div>
</section>    
<div class="modal fade" id="mediaEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
          <h4 class="modal-title"><strong>Add</strong> Media</h4>
        </div>
        <div class="modal-body">
         <form>
            <div class="form-group text-center">
              <span class="btn btn-default btn-file"><span class="fileinput-new">Select media...</span>
              <input type="hidden"><input *ngIf="mediatp" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChange($event)" #fileInput >
              <input *ngIf="!mediatp" type="file" accept="video/*" (change)="onFileChange($event)" #fileInput >
              </span>
            </div>
            <div class="row">
              <div id="mediaPreview" class="text-center"></div>
            </div>
            <div class="row text-center">
            <button type="submit" class="btn btn-blue" (click)="onSubmit()">Upload Now</button>
            </div>
         </form>
        </div>
        
      </div>
    </div>
  </div> 
  <!-- Modal viewer -->
  <div class="modal fade modal-image" id="modal-image" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
        </div>
        <div class="modal-body" id="viewmedia" [innerHTML]="mediaContent">
        </div>
        <!-- <div class="modal-footer">
          <p></p>
        </div> -->
      </div>
    </div>
  </div>