<div class="modal fade" id="show-event" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="icons-office-52"></i>
        </button>
        <h4 class="modal-title">
          <strong>Event</strong> details</h4>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Event Name</th>
              <td>{{objEvent.eventName}}</td>
            </tr>
            <tr>
              <th>Event Description</th>
              <td>{{objEvent.description}}</td>
            </tr>
            <tr>
                <th>Event Date</th>
                <td>{{objEvent.eventDate|date : 'EEEE, MMMM d, y'}}</td>
              </tr>
            <tr>
              <th>Event Age Limit</th>
              <td>{{objEvent.maxAgeLimit}} - {{objEvent.minAgeLimit}}</td>
            </tr>
        
            <tr  *ngIf="objEvent.services == []">
              <th>Event Service</th>
              <td><span *ngFor="let service of objEvent.services"> <p>No service</p> &nbsp;</span></td>
            </tr>

            <tr  *ngIf="objEvent.services != 0">
              <th>Event Service</th>
              <td><span *ngFor="let service of objEvent.services">{{  service.name}} &nbsp;</span></td>
            </tr>


            <tr>
              <th>Event Location</th>
              <td>{{objEvent.location}}</td>
            </tr>
            <!-- <tr>
              <th>Event Medias</th>
              <td>
                <span *ngFor="let media of objEvent.medias">
                  <img src="{{media.media}}" width="150" height="150" alt="">
                </span>
              </td>
            </tr> -->
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Ok, Got It</button>
      </div>
    </div>
  </div>
</div>