 <div class="modal fade" id="edit-event" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="icons-office-52"></i>
        </button>
        <h4 class="modal-title">
          <strong>Event</strong> Edit</h4>
          <div style="width: 100%; text-align: center; font-weight: bold; ">
              <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
          </div>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <form (ngSubmit)="submitForm(model,eventForm.form.valid)" #eventForm="ngForm">
            <table class="table">
              <tr>
                <th>Event Name</th>
                <td>
                  <input required minlength="3" type="text" name="eventName" id="eventName" [(ngModel)]="model.eventName" #eventName="ngModel" class="form-control">
                  <div [hidden]="eventName.valid || eventName.pristine" class="form-error">
                    <div [hidden]="!eventName.hasError('required')">Event Name is required</div>
                    <div [hidden]="!eventName.hasError('minlength')">Required atleast 3 charactor</div>
        
                  </div>
                </td>
              </tr>
              <tr>
                  <th>
                    Event Type <span style="color:red">*</span>
                  </th>
                  <td colspan="2">
                    <select name="eventType" class="form-control"  id="eventType" [(ngModel)]="model.eventType" #eventType="ngModel" required>
                      <option>Select</option>
                      <option value="1">Party</option>
                      <option value="2">Concert</option>
                      <option value="3">Shows</option>
                    </select>
                    <div [hidden]="eventType.valid || eventType.pristine" class="form-error">
                      <div [hidden]="!eventType.hasError('required')">Event eventType is required</div>
   
          
                    </div>
                  </td>
                </tr>
              <tr>
                <th>Event Description</th>
                <td>
                  <textarea required minlength="3" name="description" id="description" [(ngModel)]="model.description" #description="ngModel"  class="form-control" placeholder="Enter Description"></textarea>
                  <div [hidden]="description.valid || description.pristine" class="form-error">
                    <div [hidden]="!description.hasError('required')">Event description is required</div>
                    <div [hidden]="!description.hasError('minlength')">Required atleast 3 charactor</div>
        
                  </div>
                </td>
              </tr>

              <tr>
                <th>Event Minimum Age</th>
                <td>
                  <input type="number" required name="minAgeLimit" id="minAgeLimit" [(ngModel)]="model.minAgeLimit" #minAgeLimit="ngModel" class="form-control" placeholder="Enter Minimum age">
                  <div [hidden]="minAgeLimit.valid || minAgeLimit.pristine" class="form-error">
                    <div [hidden]="!minAgeLimit.hasError('required')"> Event Minimum Age is required</div>
                   
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Event Maximum Age</th>
                <td>
                  <input type="number" required name="maxAgeLimit" id="maxAgeLimit" [(ngModel)]="model.maxAgeLimit" #maxAgeLimit="ngModel"  class="form-control" placeholder="Enter Maximum age">
                  <div [hidden]="maxAgeLimit.valid || maxAgeLimit.pristine" class="form-error">
                    <div [hidden]="!maxAgeLimit.hasError('required')"> Event Maximum Age is required</div>
                   
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Event Event Location</th>
                <td>
                  <input type="text" required name="location" id="location" [(ngModel)]="model.location" #location="ngModel" class="form-control" placeholder="Enter event location">
                  <div [hidden]="location.valid || location.pristine" class="form-error">
                    <div [hidden]="!location.hasError('required')"> Event location is required</div>
                   
        
                  </div>
                </td>
              </tr>
              <tr>
                <th>Event Services</th>
                <td>
                  <mat-form-field class="demo-chip-list">
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let service of services" [selectable]="selectable" [removable]="removable" (remove)="remove(service)">
                        {{service.name}}
                        <mat-icon matChipRemove *ngIf="removable">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </mat-icon>
                      </mat-chip>
                      <input placeholder="Services" [(ngModel)]="model.services" name="services"  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-list>
                  </mat-form-field>
                </td>
              </tr>
              
              <tr>
                <th>Event Date</th>
                <td>
                  <mat-form-field style="width:100% !important;padding: 10px 0px;">
                    <input required name="eventDate" id="eventDate" [(ngModel)]="model.eventDate" #eventDate="ngModel" matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div class="row text-right">
              <button type="submit" class="btn btn-primary btn-embossed" >Submit</button>
              <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>