/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* .mat-form-field-underline {
    background-color: rgb(24, 166, 137) !important;
}
input.mat-input-element::-webkit-input-placeholder
{
    color: rgb(24, 166, 137) !important;
} */
.row
{
    margin: 0px auto !important;
}
textarea{
    resize: none !important;
}
.main-content
{
    min-height: calc(100vh - 60px);
}
.mat-paginator-page-size
{
    width: 50% !important;
}
.mat-sort-header-button,.mat-header-cell
{
    font-size: 16px !important;
    color: #000000 !important;
    background-color: #f9f9f9;
}
.mat-form-field
{
    width:50% !important;
    padding: 20px;
}
.mat-cell
{
    font-size: 16px !important;
}
.mat-step-header .mat-step-icon {
    background-color: #b1098c !important;
}
.mat-form-field-ripple{
    background-color: rgb(177, 9, 140) !important;
}
.user-list-container
{
    margin: 10px;
}
.mat-form-field-underline
{
    height: 2px !important;
}
.cdk-overlay-container {
    z-index: 9000 !important;
}
.raphael-group-3-creditgroup
{
    display: none !important;
}
.raphael-group-39-dataset-axis
{
    font-size: 13px !important;
}
.raphael-group-86-datalabel
{
    font-size: 13px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    font-size: 16px !important;
    color: #333 !important;
}
.modal-header .modal-title
{
    color: #222 !important;
}

.custom-checkbox,.custom-radio
{
    position: relative;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: -4px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #b1098c;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #b1098c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom-radio .checkmark {
    position: absolute;
    top: -1px;
    left: -3px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
    background-color: #b1098c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.purple-btn
{
	background-color: #5B5B5B;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    /* margin-top: 40px; */
    display: inline-block;
    /* box-shadow: 3px 3px 8px 0px #b1098c; */
    border:0px;
    margin-bottom: 10px;
}
.purple-btn:hover,.purple-btn:focus
{	
	color:#fff;
	text-decoration: none;
	border:0px;
}
.main-content
{
    margin-left: 230px;
}
.pac-container {
    z-index: 500000 !important;
    /* top:21px !important; */
}
.swal2-popup .swal2-content {
    justify-content: center;
    margin: 10px;
    padding: 0;
    color: #545454;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 27px !important;
    word-wrap: break-word;
}
.swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .swal2-styled.swal2-cancel
{
    font-size: 16px !important;
}
.swal2-popup
{
    width: 40em !important;
    padding: 3.25em !important;
}

.loader-section
{
    background-color: #FFF;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
.loader-section .error-msg
{
    margin: 0px auto;
    width: 450px;
    /* top: 20%; */
    /* height: 300px; */
    margin-top: 10%;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    font-size: 24px;
    color: #2b2b2b;
}
.loader-section mat-spinner
{
    margin: 0px auto !important;
    top:30%;
}
.btn-danger {
    background-color: #FF1744;
}
.btn-blue {
    background-color: #2196F3;
}
.btn.btn-sm {
    box-shadow: 1px 1px 6px 1px #ccc;
}
.btn i {
    font-size: 15px !important;
}
.si-close-button{
    top: -9px;
    left: 35px;
    margin-left: 150px;
    /* margin-top: -100px !important; */
    position: absolute;
    padding: 0px 7px;
    font-size: 24px;
    background-color: #000;
    color: #fff;
}
.si-float-wrapper{
    top: -19px;
    width: 200px;
    left: -1px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    line-height: 26px;
    box-shadow: 1px 1px 2px 0px #666;
}
.mat-elevation-z8{
    margin: 10px 10px 20px 10px;
}
@media screen and (max-width: 1024px) {
    .custom-container {
      margin-left: 0px;
    }
    .burger {
      width: 100px !important;
    }
    .burger:after {
      bottom: -7px !important;
      color: #FFFFFF;
      content: 'Menu';
      font-size: 13px !important;
      font-weight: 300 !important;
      right: -20px !important;
      position: absolute;
      text-align: center;
      width: 100%;
      background-size: 80% !important;
    }
    .header-nav .sidemenu{
      -webkit-transform: translateX(-110%) !important;
      transform: translateX() !important;
    }
    .burger-check:checked ~ .header-nav ul{
      -webkit-transform: translateX(0) !important;
      transform: translateX(0) !important;
    }
    body::focus{
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
      }
    .burger i{
        top: 10px !important;
        left: 20px !important;
    }
    .mat-table
    {
        width: 1500px !important;
    }
    
    }


    @media screen and (max-width: 768px) {
    .mat-elevation-z8
    {
        width:700px !important;
    }
    }