<div [formGroup]="form">
        <label [attr.for]="question.key">{{question.label}}</label>
      
        <div [ngSwitch]="question.controlType">
      
          <!-- <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
                  [id]="question.key" [type]="question.type"> -->

          <textarea *ngSwitchCase="'textbox'" class="form-control" [formControlName]="question.key"  [id]="question.key"  placeholder="Enter answer here"></textarea>
      
          <select [id]="question.key" class="form-control"  *ngSwitchCase="'checkbox'" multiple [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.value">{{opt.value}}</option>
          </select>

          <!-- <label *ngSwitchCase="'checkbox'"  *ngFor="let opt of question.options" class="checkbox-inline custom-checkbox" >{{opt.value}}
            <input   [type]="checkbox" [id]="opt.key" [formControlName]="question.key" [value]="opt.key">
            <span class="checkmark"></span>
          </label> -->
      
        </div> 
      
        <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
      </div>
      
      
      <!-- 
      Copyright 2017-2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->