<header class="row text-center">
  <a [routerLink]="['/home']">
    <img src="assets/images/logo.png" height="160px">
  </a>
  <h1>Select Society</h1>
</header>
<section class="row">
  <div class="middle-section">
    <div class="container text-center">
      <img src="assets/images/club.png">
      <br>
      <h2>Interested to collaborate with SESO?</h2>
      <a href="#" class="purple-btn" data-toggle="modal" data-target="#formModel">Yes, I'm a club</a>
      <a href="#" class="purple-btn" [routerLink]="['/login']">Login</a>
    </div>
  </div>
</section>
<section class="row">
  <div class="about-section">
    <div class="container text-center">
      <h2>About SESO</h2>
      <p>While there are many entertainment, nightlife, and event companies in the marketplace, SESO is unique in that it provides the only mobile application that helps “individuals” discover in “real time” what’s trending in their city, states, and/or countries. Not only will SESO answer the question “what’s there to do in this city?”, but the app also allows the users to bring their friends with them along for the ride even if those same friends aren’t in that particular city with them. With SESO, our users build up a following that empowers the users to influence, inspire and motivate others. We are bridging that gap between what amounts to a “good time” and the data that underlies that same “good time.” With this tool, we have created a new, generational social network.                                Welcome to the Society!
      </p>
    </div>
  </div>
</section>

<footer class="row">
  <div class="container">
    <div class="col-sm-6">
      <p>Copyright © 2018 SESO. All rights reserved</p>
    </div>
    <div class="col-sm-6 footer-links">
      <p class="text-right">
        <a [routerLink]="['/home']">Home |</a>
        <a [routerLink]="['/terms']">Terms and conditions </a>
      </p>
    </div>
  </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="formModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Questionnaire</h4>
      </div>
      <div class="modal-body">
        <div style="width: 100%; text-align: center; font-weight: bold; ">
          <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
        </div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" (ngSubmit)="submitUserDetail(firstFormGroup.value, firstFormGroup.valid)" >
              <ng-template matStepLabel>Fill out your details</ng-template>
              <div class="form-group">
                <label>Enter username</label>
                <input type="text" class="form-control" formControlName="userName" placeholder="Enter username"
                  required>
                  <div [hidden]="firstFormGroup.controls.userName.valid || firstFormGroup.controls.userName.pristine" class="error_msg">
                    <div [hidden]="!firstFormGroup.controls.userName.hasError('required')">User Name is required</div>
                    <!-- <div [hidden]="!firstFormGroup.controls.userName.hasError('pattern')">Email is invalid</div> -->
  
                  </div>
                
              </div>
              <div class="form-group">
                <label>Enter email address</label>
                <input type="email" class="form-control"  formControlName="email" placeholder="Enter email address" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <div [hidden]="firstFormGroup.controls.email.valid || firstFormGroup.controls.email.pristine" class="error_msg">
                  <div [hidden]="!firstFormGroup.controls.email.hasError('required')">User Name is required</div>
                  <div [hidden]="!firstFormGroup.controls.email.hasError('pattern')">Email is invalid</div>

                </div>
              </div>
              <div class="text-right">
                <button class="purple-btn" type="submit" matStepperNext >Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="form">
            <form [formGroup]="secondFormGroup" class="col-sm-12" >
              <ng-template matStepLabel>Fill out your questionnaire</ng-template>
              <app-dynamic-form [questions]="arrQuestionaire" *ngIf="arrQuestionaire"></app-dynamic-form>
              <!-- <div class="form-group" *ngFor="let questionaire of arrQuestionaire">
                <label>{{questionaire.question}}</label>
                <textarea class="form-control" *ngIf="questionaire.type=='1'" (ngModel)]="model.userName" #userName="ngModel" placeholder="Enter answer here"></textarea>
                <div class="radio" *ngIf="questionaire.type=='2'">
                  <label class="radio-inline custom-radio" *ngFor="let option of questionaire.arrOption"> {{option.option}}
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio{{option._id}}" value="option1">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="radio" *ngIf="questionaire.type=='3'">

                  <label class="checkbox-inline custom-checkbox" *ngFor="let option of questionaire.arrOption">{{option.option}}
                    <input type="checkbox" id="inlineCheckbox{{option._id}}" value="option1">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div> -->


              <!-- <div class="text-right">
                <button class="purple-btn" data-dismiss="modal" type="submit" [routerLink]="['/login']">Submit</button>
              </div>-->
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>

    </div>
  </div>
</div>