@import url('../../assets/font/avenir-font.css');

*
{
	font-family:'Avenir LT Std 65 Medium';
}
.row
{
	margin:0px auto !important;
}
p
{
    font-size: 16px;
    line-height: 27px;
    margin-top: 20px;
}
textarea
{
	resize: none !important;
}
form{
	padding: 5px;
}

header
{
	background: url('../../assets/images/bg1.jpg') no-repeat;
	background-size: cover;
	height: 700px;
	padding-top: 50px;
}
header h1
{
	color: #fff;
	font-size: 50px;
	margin-top: 50px;
	text-transform: uppercase;
}
.middle-section
{
	padding: 80px 0px 80px 0px;
	color: #333;
	text-align: center;
}.about-section
{
	padding: 50px 0px;
	color: #fff;
	text-align: center;
	background-color: #7a0d8c;
}
.about-section p
{
    font-size: 16px;
    line-height: 27px;
    margin-top: 20px;
}


footer
{
	background-color: #f1f1f1;
	padding: 30px 0px;
}
footer p
{
    font-size: 14px;
    margin-top: 0px;
	color: #666;
}
.footer-links a
{
	color: #666;
}
.footer-links a:hover,.footer-links a:focus
{
	color: #666;
	text-decoration: none;
}
.modal-dialog
{
	margin-top: 2%;
}
@media screen and (max-width: 767px) {
	header
	{
		height: 500px;
	}
	footer,.footer-links
	{
		text-align: center !important;
	}
}