.main-section
{
	background: url('../../assets/images/bg1.jpg') no-repeat;
	background-size: cover;
    height:auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
mat-horizontal-stepper
{
    min-height: 625px;
}
label, .quetionary-form p{
    color: #555;
    font-weight: 600;
    font-size: 14px;
    margin-left: 0px;
}
.quetionary-form label
{
    font-weight: 500;
    margin:5px 10px;
}
form{
    /* background-color: rgba(0, 0, 52, 0.8);
    padding: 25px 15px; */
    border-radius: 10px;
}
.form-control
{
    background-color: transparent !important;
    border:1px solid #ccc !important;
    color: #333 !important;
}
.form-error
{
    color: red;
}
::-webkit-input-placeholder
{
    color:#666;
}
::-moz-placeholder
{
    color:#666;
}
.btn
{
    margin-bottom: 0px;
}
.form-inline
{
    margin:10px 0px !important;
    width: 100% !important;
}
.form-inline .form-group
{
    width: 100% !important;
}
.form-inline .form-control
{
    width: 65% !important;
}
.purple-btn
{
    color: #fff !important;
    border-radius: 50px;
    margin-bottom: 5px;
    margin-top: 8px;
}
.custom-reg-section
{
    height: 550px !important;
    overflow-y:scroll;
}
/* .checklbl input[type=checkbox], .checklbl
{
margin-right: 10px;
} */
/* .datePick {
    color: #fff !important;
} */
/* .mat-form-field-underline {
    background-color: #878787 !important;
}
.mat-stepper-horizontal
{
    background-color: transparent !important;
}
.mat-step-header .mat-step-label.mat-step-label-active
{
    color: #fff !important;
}
.mat-stepper-horizontal-line {
    border-top-color: rgb(255, 255, 255) !important;
} */