<div class="main-section">
  <div class="row text-center" style="margin-top: -34px!important;">
    <a [routerLink]="['/home']">
      <img src="assets/images/logo.png" height="130px">
      <br>
      <br>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 custom-form">
      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Fill out your details</ng-template>
          <form role="form" #regForm="ngForm" class="registration-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label>Venue Name</label>
                <input type="text" required class="form-control" name="userName" id="userName" [(ngModel)]="model.userName" #userName="ngModel"
                  placeholder="Enter Username" minlength="3">

                <div [hidden]="userName.valid || userName.pristine" class="form-error">
                  <div [hidden]="!userName.hasError('required')">Venue Name is required</div>
                  <div [hidden]="!userName.hasError('minlength')">Required atleast 3 charactor</div>

                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Email Address</label>
                <input type="email" class="form-control" required name="email" id="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Enter email address"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <div [hidden]="email.valid || email.pristine" class="form-error">
                  <div [hidden]="!email.hasError('required')">Email is required</div>
                  <div [hidden]="!email.hasError('pattern')">Email is invalid</div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Password</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" maxlength="10"
                  minlength="6" #password="ngModel" placeholder="Enter Password">
                <div [hidden]="password.valid || password.pristine" class="form-error">
                  <div [hidden]="!password.hasError('required')" class="error_msg"> Password is required</div>
                  <div [hidden]="!password.hasError('minlength')" class="error_msg">Required atleast 6 charactor</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Confirm Password</label>
                <input type="password" id="confirmNewPassword" required validateEqual="password" maxlength="10" [(ngModel)]="model.confirmNewPassword"
                  name="confirmNewPassword" minlength="6" #confirmNewPassword="ngModel" class="form-control" (keyup)="checkPassword($event)"
                  placeholder="Re-enter Password">

                <div [hidden]="confirmNewPassword.valid || confirmNewPassword.pristine" class="form-error">
                  <div [hidden]="!confirmNewPassword.hasError('required')" class="error_msg"> Password is required</div>
                  <div [hidden]="!isPassCorrect " class="error_msg">
                    Password do not match
                  </div>
                  <div [hidden]="!confirmNewPassword.hasError('minlength') " class="error_msg">
                    Minimun 6 characters or letters is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>Contact Number</label>
                <input type="text" id="contact" pattern="[0-9]*" minlength="10" maxlength="10" name="contact" required [(ngModel)]="model.contact"
                  #contact="ngModel" class="form-control" placeholder="Enter Contact Number">
                <div [hidden]="contact.valid || contact.pristine" class="form-error">
                  <div [hidden]="!contact.hasError('required')" class="error_msg"> Contact number is required</div>
                  <div [hidden]="!contact.hasError('pattern')" class="error_msg">Enter only number</div>

                  <div [hidden]="!contact.hasError('minlength') " class="error_msg">
                    Minimun 10 number is required.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" id="city" name="city" required [(ngModel)]="model.city" #city="ngModel" class="form-control" placeholder="Enter city Number">
                <div [hidden]="city.valid || city.pristine" class="form-error">
                  <div [hidden]="!city.hasError('required')" class="error_msg"> city number is required</div>

                </div>
              </div>
              <!-- <div class="form-group col-md-6" style="margin-bottom:0px">
                <label for="">Date of Birth</label>
                <br>

                <mat-form-field style="padding:0px !important; width:100% !important;">
                  <input matInput placeholder="Enter Date of birth" [value]="dateValue" class="datePick" [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker" style="color:#9f0a8f"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div> -->
            </div>
            <div class="row">
             
              <div class="form-group col-md-4">
                <label>State</label>
                <input type="text" id="state" name="state" required [(ngModel)]="model.state" #state="ngModel" class="form-control" placeholder="Enter State">
                <div [hidden]="state.valid || state.pristine" class="form-error">
                  <div [hidden]="!state.hasError('required')" class="error_msg"> State is required</div>

                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Zip code</label>
                <input type="text" id="zipCode" name="zipCode" required [(ngModel)]="model.zipCode" #zipCode="ngModel" class="form-control"
                  placeholder="Enter zip code">
                <div [hidden]="zipCode.valid || zipCode.pristine" class="form-error">
                  <div [hidden]="!zipCode.hasError('required')" class="error_msg"> Zip code is required</div>

                </div>
              </div>
              <div *ngIf="userType=='2'" class="form-group col-md-4">
                <label>Choose venue type</label>

                <select id="userType" name="userType" style="height: 35px" required [(ngModel)]="model.userType" #userType="ngModel" class="form-control">
                  <option value="">Choose venue type</option>
                  <option value="2">Club</option>
                  <option value="5">Bar</option>
                </select>
                <div [hidden]="userType.valid || userType.pristine" class="form-error">
                  <div [hidden]="!userType.hasError('required')" class="error_msg"> venue type is required</div>

                </div>
              </div>
            </div>
            <!--<div class="row">
               <div class="form-group col-md-4">
                <label>Relationship Status</label>

                <select id="relStatus" name="relStatus" style="height: 35px;" required [(ngModel)]="model.relStatus" #relStatus="ngModel"
                  class="form-control">
                  <option value="">Enter Relationship Status</option>
                  <option value="1">Single</option>
                  <option value="2">Married</option>
                </select>
                <div [hidden]="relStatus.valid || relStatus.pristine" class="form-error">
                  <div [hidden]="!relStatus.hasError('required')" class="error_msg"> Relationship Status is required</div>

                </div>
              </div>
              <div class="form-group col-md-4">
                <label>School Information</label>
                <input type="text" id="schoolInfo" name="schoolInfo" [(ngModel)]="model.schoolInfo" #schoolInfo="ngModel" class="form-control"
                  placeholder="Enter School Information">

              </div>
              <div class="form-group col-md-4">
                <label>Work Information</label>
                <input type="text" id="workInfo" name="workInfo" [(ngModel)]="model.workInfo" #workInfo="ngModel" class="form-control" placeholder="Enter work Information">

              </div>
            </div> -->
            <div class="row">

             

           
              <div class="form-group col-md-12">
                <label>About you</label>
                <textarea id="aboutYou" name="aboutYou" [(ngModel)]="model.aboutYou" #aboutYou="ngModel" class="form-control" placeholder="Enter about you"> </textarea>

              </div>
            </div>
            <div class="row text-center">
              <br>
              <!-- <input class="purple-btn" [disabled]="regForm.form.valid!=true" type="submit" value="Next"> -->

              <button class="purple-btn" [disabled]="regForm.form.valid!=true" mat-button matStepperNext>Next</button>
            </div>
            <div style="width: 100%; text-align: center; font-weight: bold; ">
              <ngx-flash-messages style="font-family: bold;"></ngx-flash-messages>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Fill out your questionnaire</ng-template>
          <form class="quetionary-form">
            <div class="row custom-reg-section">
            <div class="form-group ">
              <p>Choose Thematic of venue</p>

              <select id="venueTheme" name="venueTheme" style="height: 35px;width: 405px" required [(ngModel)]="model.venueTheme" #venueTheme="ngModel"
                class="form-control">
                <option value="">Choose Thematic of venue</option>
                <option value="1">Night club</option>
                <option value="2">Day club</option>
              </select>
              <div [hidden]="venueTheme.valid || venueTheme.pristine" class="form-error">
                <div [hidden]="!venueTheme.hasError('required')" class="error_msg"> Relationship Status is required</div>

              </div>
            </div>
            <div class="form-group" *ngFor="let choice of arrQuestion;let i = index">
              <p>{{choice.question2}}</p>
              <label class="checkbox-inline custom-checkbox" *ngFor="let option of choice.arrOption">
                <span *ngIf="option!=null">
                {{option.option}}
                <input type="checkbox" value="option1" [checked]="option.is_checked" (change)="changeOption(i,option)">
                <span class="checkmark"></span>
              </span>
              </label>

              <span class="addlbl"></span>
              <div class="row form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Can’t find your favorite style?" #titleInput (change)="showbtn=true">
                  <button class="btn btn-default" (click)="addElement(titleInput.value,i,choice._id)" *ngIf="showbtn">
                    <i class="glyphicon glyphicon-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            </div>
            <!-- <div class="form-group">
          <p>Choose favorite party style</p>
          <label class="checkbox-inline custom-checkbox">1 Option
            <input type="checkbox" value="option1"> <span class="checkmark"></span>
          </label>
          <label class="checkbox-inline custom-checkbox">1 Option
            <input type="checkbox" value="option1"> <span class="checkmark"></span>
          </label>
          <label class="checkbox-inline custom-checkbox">1 Option
            <input type="checkbox" value="option1"> <span class="checkmark"></span>
          </label>
          <div class="row form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Can’t find your favorite style?">
              <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
          </div>
        </div> -->

            <!-- <div class="form-group">
          <p>Choose favorite party style</p>
          <label class="checkbox-inline custom-checkbox">1 Option
            <input type="checkbox" value="option1"> <span class="checkmark"></span>
          </label>
          <label class="checkbox-inline custom-checkbox">1 Option
            <input type="checkbox" value="option1"> <span class="checkmark"></span>
          </label>
          <label class="checkbox-inline custom-checkbox">1 Option
            <input type="checkbox" value="option1"> <span class="checkmark"></span>
          </label>
          <div class="row form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Can’t find your favorite style?">
              <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
          </div>
        </div> -->


            <div class="row text-center">
              <input class="purple-btn" type="button" [disabled]="regForm.form.valid!=true" (click)="submitForm(model,regForm.form.valid)"
                value="Register Now !">
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>